.my-account-menu nav {
	margin: 0;
	padding: 0;
    background-color: #f6f6f6;
    width: 264px;
}

.my-account-flex > .col-content {
	flex: 1 !important;
}

.my-account-menu li {
	display: block;
}

.my-account-menu li a {
	display: block;
	padding: .9375rem 1.5625rem;
    font-size: .875rem;
    line-height: .9375rem;
    color: #333;
}

.my-account-menu li.current > a,
.my-account-menu li:hover > a {
	color: #ffffff;
    background-color: #ff5a43;
}

.section.section-my-account {
	position: relative;
	z-index: 6;
}

.section.section-my-account .content {
	position: relative;
	padding-left: 1.25rem;
	padding-bottom: 5rem;
}

.section.section-my-account .content a.logout {
	position: absolute;
	right: 0;
	bottom: calc(100% + 1rem);
	z-index: 2;
}

.section.section-my-account .dashboard {
	margin-left: -.625rem;
	margin-right: -.625rem;
}

.section.section-my-account .dashboard > .column {
	flex: 0 0 calc(100% / 3);
	flex-direction: column;
	padding: 0 .625rem;
}

.section.section-my-account .dashboard .topbar svg {
	margin-right: .3125rem;
    width: 1.625rem;
    height: 1.75rem;
    vertical-align: top;
    stroke: var(--ui-color-secondary);
}

.section.section-my-account .dashboard .item {
	margin-bottom: 1.25rem;
    border: .0625rem solid #e9e9e9;
}

.section.section-my-account .dashboard .item.current-orders .info {
	color: #666;
}

.section.section-my-account .dashboard .item.current-orders .payment {
	color: #000;
	font-size: .9375rem;
    line-height: 1.25rem;
}

.section.section-my-account .dashboard .item > .topbar {
	border-bottom: .0625rem solid #e9e9e9;
}

.section.section-my-account .dashboard .item > .topbar,
.section.section-my-account .dashboard .item > .content {
	padding: 1rem 1.5625rem;
}

.section.section-my-account .dashboard .item > .topbar .heading {
	font-size: .9375rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #000;
}

.section.section-my-account .dashboard .item > .content {
	color: #666;	
}

.section.section-my-account .dashboard .item > .content .caption {
	text-align: left;
    font-weight: 400;
    color: #666;
	background: transparent;
}

.section.section-my-account .dashboard .item > .content .flex > .caption,
.section.section-my-account .dashboard .item > .content .flex > .value {
	flex: 1 0 50%;
}

.section.section-my-account .dashboard .item > .content .flex > .value .price {
	display: block;
	text-align: center;
	color: #000;
}

.section.section-my-account .dashboard .item > .content .button {
	margin-top: .9375rem;
}

.section.section-my-account .dashboard .item.personal-data .content > .flex {
	color: #000;
	margin-bottom: .5rem;
}

.section.section-my-account .actions > a {
	margin-right: .9375rem;
    line-height: 1.375rem;
	font-weight: 700;
}

.section.section-my-account .personal-data .form {
    padding: 1.5rem;
    border: .0625rem solid #e9e9e9;
}

.section.section-my-account .personal-data .form:not(:first-child) {
	border-top: 0;
}

.section.section-my-account .personal-data .form > form {
	display: block;
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
}

.section.section-my-account .dashboard .item.subscribes .content input {
	line-height: 1rem;
    border: .125rem solid #b6b6b6;
    border-radius: .25rem;
    color: #333;
}

.section.section-my-account .orders-profile .list {
	margin-top: 1.25rem;
	margin-left: -0.625rem;
	margin-right: -0.625rem;
}

.section.section-my-account .orders-profile .list .column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 0 0.625rem;
	flex: 0 0 calc(100% / 3);
}

.section.section-my-account .orders-profile .list .column .item {
    padding: 1.5625rem;
    border: .0625rem solid #e9e9e9;
	margin-bottom: 1.25rem;
}

.section.section-my-account .orders-profile .list .column .item .label {
	margin-bottom: .3125rem;
}

.section.section-my-account .orders-profile .list .column .item .actions {
	margin-top: .625rem;
}

.section.section-my-account .orders-profile .list .column .item p {
	margin-bottom: 0;
    padding: .1875rem 0;
    font-size: .875rem;
    line-height: 1.375rem;
    color: #000;
}

.section.section-my-account .personal-score .score {
	font-size: .9375rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
	padding: 1.5rem;
    border: .0625rem solid #e9e9e9;
	text-align: center;
}

.section.section-my-account .orders-block > .order {
	border: .0625rem solid #ededed;
}

.section.section-my-account .orders-block > .order > .topbar {
	padding: .6875rem 1.1875rem;
    border-bottom: .0625rem solid #ededed;
    background-color: #f6f6f6;
    -webkit-transition: .25s;
    transition: .25s;
}

.section.section-my-account .orders-block > .order > .topbar .heading {
    font-size: .9375rem;
    font-weight: 700;
    color: #000;
}

.section.section-my-account .orders-block > .order > .topbar .status {
	padding-left: .3125rem;
}

.section.section-my-account .orders-block > .order > .topbar .status.warning {
	color: #ffc21e;
}

.section.section-my-account .orders-block > .order > .info-block {
	padding: 1.25rem;
}

.section.section-my-account .orders-block > .order >.bottombar {
	padding: .625rem .9375rem;
}

.section.section-my-account .orders-block > .order >.bottombar svg {
	width: .75rem;
    height: .75rem;
    margin-right: .3125rem;
    vertical-align: middle;
    stroke: #000;
}

.section.section-my-account .orders-block > .order >.bottombar svg.repeat {
	width: .9375rem;
    height: 1rem;
}

.section.section-my-account .orders-block > .order >.bottombar .col-actions {
	flex: 1;
	text-align: right;
}

.section.section-my-account .orders-block > .order >.bottombar .more-link {
	position: relative;
    display: inline-block;
    margin: .25rem 0;
    border-bottom: .0625rem dotted var(--ui-color-primary);
}

.section.section-my-account .orders-block > .order >.bottombar .more-link::after {
	content: "";
    position: absolute;
    top: .3125rem;
    right: -1.125rem;
    width: .4375rem;
    height: .4375rem;
    border-left: .0625rem solid var(--ui-color-primary);
    border-bottom: .0625rem solid var(--ui-color-primary);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.section.section-my-account .orders-block > .order >.bottombar .col-actions a {
	color: #000;
	font-size: .875rem;
	margin: 0 0 0 1.875rem;
}

.section.section-my-account .orders-block > .order .info-block {
	border-bottom: .0625rem solid #ededed;
}

.section.section-my-account .orders-block > .order .info-block .order {
	font-size: .875rem;
    font-weight: 500;
    line-height: 1.5625rem;
    color: #000;
	font-weight: 600;
}

.section.section-my-account .orders-block > .order .col-data {
	flex: 1;
}

.section.section-my-account .orders-block > .order .info-block .caption {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    color: #888;
}

.section.section-my-account .orders-block > .order .info-block .status span {
	color: var(--ui-color-secondary);
}
	
.section.section-my-account .orders-block > .order .info-block .service span {
	color: #000;
}

.section.section-my-account .orders-block > .order .info-block .order .label {
	margin-top: .15625rem;
    margin-left: .3125rem;
    padding: .34375rem .4375rem .28125rem;
    vertical-align: top;
    font-size: .625rem;
	letter-spacing: .03125rem;
    text-transform: uppercase;
}

.section.section-my-account .orders-block > .order .info-block .total .price {
	color: #000;
}