.cart-modal {
	position: fixed;
    top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
    transition: opacity .3s;
	background: rgba(0,0,0,.5);
	opacity: 0;
}

.cart-modal .inner {
	position: relative;
	background: #fff;
	width: 100%;
	max-width: 550px;
	margin-left: auto;
	overflow: hidden;
	transition: transform .5s;
	transform: translateX(550px);
	z-index: -10;
}

.cart-modal .inner .overflow-content {
	height: calc(100vh - 77px);
	max-height: 100%;
	overflow-y: auto;
}

.cart-modal.open {
	top: 0;
	opacity: 1;
	z-index: 1000;
}

.cart-modal.animate .inner {
	transform: translateX(0px);
}

.cart-modal .cart-topbar {
	height: 56px;
    padding: 0 24px;
    border-bottom: 1px solid #e8ebed;
    border-left: 1px solid #e8ebed;
    align-items: center;
    box-sizing: inherit;
}

.cart-modal .cart-topbar .flex {
	height: 100%;
}

.cart-modal .cart-topbar .col-heading h3 {
	font-size: 18px;
    color: #7e7c86;
    font-weight: 500;
}

.cart-modal .cart-topbar .col-close a {
	display: block;
	height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 500;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #e8ebed;
    white-space: nowrap;
    outline: none;
    box-sizing: border-box;
    color: var(--ui-color-primary);
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s;
}

.cart-modal .cart-topbar .col-close a:hover {
	border-color: var(--ui-color-primary);
}

.cart-modal .cart-topbar .close-cart .icon {
	margin-right: 7px;
    margin-top: 2px;
}

.cart-modal .cart-topbar .close-cart svg {
	width: 12px;
	height: 12px;
	fill: var(--ui-color-primary);
}

.cart-modal .cart-header {
	padding: 12px;
	background-color: rgb(0, 45, 114);
	font-size: 16px;
	color: #fff;
}

.cart-modal .cart-subheder {
	background-color: #002256;
	color: #fff;
	padding: 11px 24px;
    font-size: 12px;
}

.cart-modal .cart-subheder .col-info svg { 
    width: 16px;
	height: 16px;
	fill: #fff;
}

.cart-modal .number-caption {
	position: relative;
    border-radius: 4px;
    padding: 6px 14px;
    background-color: rgba(0,0,0,.25);
	margin: 0 3px;
}

.cart-modal .cart-list .product.disabled {
	opacity: .5;
}

.cart-modal .cart-list .product {
	font-size: 13px;
    padding: 12px 8px;
    color: #7e7c86;
    overflow: hidden;
    box-sizing: border-box;
	background-color: #fff;
	border-bottom: 1px solid #e8ebed;
}

.cart-modal .cart-list .product .col-thumbnail {
	width: 58px;
    height: 58px;
    margin-right: 8px;
}

.cart-modal .cart-list .product .col-info,
.cart-modal .cart-list .product .col-count {
	flex: 1;
}

.cart-modal .cart-list .product .col-remove {
	padding-left: 20px;
}

.cart-modal .cart-list .product .col-remove a {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
}

.cart-modal .cart-list .product .col-remove a svg {
	fill: #af242a;
}

.cart-modal .cart-list .product .col-remove a svg.circle {
	width: 35px;
	height: 35px;
}

.cart-modal .cart-list .product .col-remove a svg.remove {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	transform: translate(-50%, -50%);
}

.cart-modal .cart-list .product .col-remove a:hover {
	border-radius: 50%;
	background-color: #af242a;
}

.cart-modal .cart-list .product .col-remove a:hover svg.remove {
	fill: #fff;
}

.cart-modal .cart-list .product .col-count .input-counter {
	max-width: 150px;
}

.cart-modal .cart-bottombar {
	border-top: 1px solid #e8ebed;
    padding: 18px;
    font-size: 14px;
	background-color: #fff;
	width: 100%;
}

.cart-modal .checkout-button {
	position: relative;
	margin-bottom: 0;
}

.cart-modal .checkout-button .number-caption {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}