.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	background-color: #fff;
	z-index: -1;
	display: none;
}

.slideout-open .mobile-menu {
	display: block;
	z-index: 1;
}

.mobile-menu .m-menu-wrapper {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100vh;
	-webkit-overflow-scrolling: touch;
}

.mobile-menu .m-menu-wrapper.is-sumenu-open {
	overflow: hidden;
}

.mobile-menu.no-scroll .m-menu-wrapper {
	overflow: hidden;
}

.mobile-menu .menu .has-submenu > .submenu-container {
	overflow-x: hidden;
	display: none;
}

.mobile-menu .menu .has-submenu > .submenu-container,
.mobile-menu > div { background-color: #f6f6f6; }

.mobile-menu .m-menu-primary .menu .has-submenu > .submenu,
.mobile-menu .m-menu-primary { background-color: var(--ui-color-primary); color: #fff; }

.mobile-menu .m-menu-secondary {
	position: relative;
}

.mobile-menu .m-menu-secondary .menu .has-submenu > .submenu,
.mobile-menu .m-menu-secondary { background-color: var(--ui-color-secondary); color: #fff; }

.mobile-menu .profile {
	display: block;
    padding: .75rem 2.2rem .75rem .9375rem;
    text-align: left;
    line-height: 1.6875rem;
    text-transform: inherit;
    border-radius: 0;
	font-weight: 700;
	color: #fff;
	font-size: .9rem;
}

.mobile-menu .profile > svg {
	width: 1.875rem;
    height: 1.6875rem;
	margin-right: .3125rem;
	fill: #fff;
}

.mobile-menu .m-menu-secondary .close-menu {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	display:none;
}

.mobile-menu .m-menu-secondary .close-menu > svg {
	fill: #fff;
	width: 15px;
	height: 15px;
}

.mobile-menu svg,
.mobile-menu svg + .text {
	vertical-align: middle;
}

.mobile-menu .menu,
.mobile-menu .submenu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mobile-menu .menu:not(.social-mobile-menu) li {
	border-bottom: 1px solid #d0d0d0;	
}

.mobile-menu .m-menu-primary .menu li {
	border-bottom-color: #2e499c;
}

.mobile-menu .menu:not(.social-mobile-menu) li a {
	position: relative;
	display: block;
	padding: .9375rem 1.55rem;
    font-size: .9375rem;
    line-height: 1.375rem;
	color: #000;
}

.mobile-menu .menu li.has-icon > a {
	position: relative;
	padding-left: 3.3125rem;
}

.mobile-menu .menu li.parent > a {
	padding-left: .75rem;
	padding-right: .75rem;
}

.mobile-menu .menu li.has-icon .icon {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 28px;
	height: 28px;
	text-align: center;
}

.mobile-menu .menu li.has-icon .icon img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.mobile-menu .m-menu-primary .menu li a {
	color: #fff;
}

.mobile-menu .menu li.has-submenu > a::after {
	content: '';
	display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 1rem;
	width: .65625rem;
    height: .65625rem;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobile-menu .menu li.has-submenu > a::after {
	border-top: 2px solid #b6b6b6;
    border-right: 2px solid #b6b6b6;
}

.mobile-menu .m-menu-primary .menu li.has-submenu > a::after {
	border-top-color: #2e499c;
    border-right-color: #2e499c;
}

.mobile-menu .menu .submenu-container {
	position: fixed;
	top: 0;
	left: 260px;
	height: 100vh;
	width: 260px;
	z-index: 2;
	transition: left .25s;
	overflow-y: auto;
	max-height: 100vh;
}

.mobile-menu .menu .has-submenu.open > .submenu-container {
	display: block;
}

.mobile-menu .menu .has-submenu.open.show > .submenu-container {
	left: 0;
}

.mobile-menu .submenu li.back a {
	color: var(--ui-color-secondary);
	padding-left: 2.5rem;
}

.mobile-menu .submenu li.back a::before {
	content: '';
	position: absolute;
	width: .65625rem;
    height: .65625rem;
    margin-right: .3125rem;
    vertical-align: inherit;
    border: 0;
    border-top: 2px solid var(--ui-color-secondary);
    border-left: 2px solid var(--ui-color-secondary);
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
	margin-left: -15px;
	top: 50%;
	margin-top: -2.5px;
}

.mobile-menu .submenu li.parent a {
	font-weight: bold;
	color: #333;
}

.mobile-menu .m-menu-search {
	padding: 1.25rem;
}

.mobile-menu .m-menu-search form {
	display: block;
	position: relative;
}

.mobile-menu .m-menu-search form input {
	margin-bottom: 0;
    padding: .9375rem .5rem .9375rem 1.875rem;
    line-height: 1.125rem;
    background-color: #2e499c;
    color: #afbce7;
	border: .125rem solid #b6b6b6;
    border-radius: .25rem;
}

.mobile-menu .m-menu-search form button {
	position: absolute;
    top: 0;
    left: 0;
    padding: .625rem;
}

.mobile-menu .m-menu-search form button svg {
	width: .875rem;
    height: 1.75rem;
    fill: #afbce7;
}

.mobile-menu .m-menu-footer {
	padding: .9375rem 1.25rem 1.375rem;
    font-size: .875rem;
    color: #666;
    border-top: .0625rem solid #2e499c;
}

.mobile-menu .m-menu-footer p {
	margin: 0;
    line-height: 1.75rem;
}

.mobile-menu .m-menu-footer p a {
	display: block;
	color: #fff;
}

.mobile-menu .m-menu-footer .social-mobile-menu {
	padding: 0;
	margin: .625rem -.4375rem 0 0;
}

.mobile-menu .m-menu-footer .social-mobile-menu li {
	margin-bottom: .625rem;
}

.mobile-menu .m-menu-footer .social-mobile-menu li a {
	display: block;
}

.mobile-menu .m-menu-footer .social-mobile-menu li svg {
	width: 2.125rem;
    height: 2.125rem;
    padding: .4375rem .4375rem .5rem;
    vertical-align: middle;
    overflow: visible;
    border: .125rem solid rgba(254,255,239,.7);
    border-radius: 1.0625rem;
    fill: rgba(254,255,239,.7);
}

.mobile-menu .m-menu-footer .social-mobile-menu li .text {
	padding-left: .5rem;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 2.125rem;
    color: rgba(254,255,239,.7);
}

@media screen and (min-width: 998px) {	
	
	.mobile-menu {
		display: block;
		top: -100%;
		z-index: 10;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
		opacity: 0;
		transition: opacity .3s;
	}

	.mobile-menu.open {
		top: 0;
		opacity: 1;
	}
	
	.mobile-menu .m-menu-wrapper {
		position: relative;
		max-width: 350px;
		transform: translateX(-350px);
		transition: transform .3s;
		overflow: visible;
	}

	.mobile-menu .menu .has-submenu > .submenu-container {
		position: fixed;
		max-height: 100vh;
		width: 350px;
		height: 100%;
		overflow-y: auto;
		display: none;
		top: 0;
		left: 100%;
		background-color: #fff;
	}

	.catalog-mobile-menu > .has-submenu > .submenu-container {
		left: 100%;
	}

	.catalog-mobile-menu > .has-submenu > .submenu-container li.back,
	.catalog-mobile-menu > .has-submenu > .submenu-container li.parent {
		display: none;
	}

	.catalog-mobile-menu > .has-submenu > .submenu-container > .submenu > .has-submenu > .submenu-container {
		left: 200%;
	}

	.catalog-mobile-menu > .has-submenu > .submenu-container > .submenu > .has-submenu > .submenu-container .submenu > .has-submenu > .submenu-container {
		left: 300%;
	}

	.mobile-menu .menu .submenu {
		position: static;
		display: block;
		overflow: visible;
		width: 100%;
		max-width: initial;
	}

	.mobile-menu .menu .has-submenu:hover > .submenu-container {
		display: block;
	}
	
	
	.mobile-menu .m-menu-catalog {
		overflow-y: auto;
		max-height: calc(100vh - 52px);
	}
	
	.mobile-menu.open.show .m-menu-wrapper {
		transform: translateX(0px);
	}

	.mobile-menu .m-menu-primary {
		display: none;
	}

	.mobile-menu .m-menu-catalog::-webkit-scrollbar-track,
	.mobile-menu .menu .has-submenu > .submenu-container::-webkit-scrollbar-track {
		background: #dedede96;
	}

	.mobile-menu .m-menu-catalog::-webkit-scrollbar-thumb,
	.mobile-menu .menu .has-submenu > .submenu-container::-webkit-scrollbar-thumb {
		background: #b3b3b3;
		border-radius: 20px;
	}

	.mobile-menu .m-menu-catalog::-webkit-scrollbar,
	.mobile-menu .menu .has-submenu > .submenu-container::-webkit-scrollbar {
		width: 5px;
	}

	.mobile-menu .m-menu-secondary .close-menu {
		display: block;
	}
}

