label.choose {
	display: block;
	padding-left: 1.4375rem;
    font-size: .8125rem;
    line-height: 1.125rem;
    color: #333;
	position: relative;
    margin: 0 0 .625rem;
    width: 100%;
	cursor: pointer;
}

label.choose:not(:last-child) {	
	margin-bottom: .625rem;
}

label.choose > span,
label.choose > span {
	display: inline-block;
	vertical-align: middle;
}

label.choose > .elem::before,
label.choose > .elem::after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
	box-sizing: border-box;
}

label.choose > .elem::before {
	border: .125rem solid #b6b6b6;
    background: #fff;
}

label.choose input[type="radio"] ~ .elem::before {
	width: 1.25rem;
    height: 1.25rem;
    border-radius: .625rem;
}

label.choose input[type="checkbox"] ~ .elem::before {
	width: 1.125rem;
    height: 1.125rem;
    border-radius: .1875rem;
}

label.choose input[type="radio"] ~ .elem::after {
	margin: .375rem;
    width: .5rem;
    height: .5rem;
    border: .25rem solid transparent;
    border-radius: .25rem;
}

label.choose input[type="checkbox"] ~ .elem::after {
	margin: .375rem .25rem;
    width: .6875rem;
    height: .3125rem;
    border-left: .125rem solid transparent;
    border-bottom: .125rem solid transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

label.choose input:checked ~ .elem::after,
label.choose input:checked ~ .elem::before {
    border-color: #b6b6b6;
}