.section.section-about-company .section-heading {
	margin-bottom: 1.25rem;	
}

.section.section-about-company .content .col {
	flex: 1;
}

.section.section-about-company .content .col-content {
	flex: 1.5;
}

.section.section-about-company .content .col-content {
	padding-left: 3.75rem
}

.section.section-about-company .content .col-content  .description {
	line-height: 1.5rem;
	margin-bottom: 1.25rem;
}

@media screen and (max-width: 997px) {
    .section.section-about-company .content .col-content {
		padding-left: 1.5rem;
	}
}

@media screen and (max-width: 757px) {
    .section.section-about-company .thumbnail {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.section.section-about-company .content .col {
		flex-basis: auto;
	}
	
	.section.section-about-company .content .col-content {
		padding-left: 0;
	}
	
	.section.section-about-company .section-heading {
		margin-top: .5rem;
		margin-bottom: .5rem;
		text-align: center;
	}
}