.stocks .grid {
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	grid-gap: 30px;
}

.stocks .grid .box.h-2x {
	grid-column: span 2;
}

.section.section-stocks .box a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 0;
}

.section.section-stocks .box a span {
	display: block;
	width: 100%;
	height: 100%;
}

.section.section-stocks .box img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.section.section-stocks .secondary-banner {
	display: block !important;
}

.section.section-stocks .secondary-banner {
	display: none !important;
}

@media screen and (min-width: 998px) {
    .stocks .grid .box.v-2x {
		grid-row: span 2;
	}
}

@media screen and (max-width: 997px) {
    .stocks .grid {
		grid-template-columns: repeat(2, 50%);
		grid-gap: 21px; 
		justify-content: center;
	}
	
	.stocks .grid .box {
		height: auto;
	}

	#homeContentBanner3 .primary-banner {
		display: none !important;
	}

	#homeContentBanner3 .secondary-banner {
		display: block !important;
	}

}

@media screen and (max-width: 517px) {
    .stocks .grid {
		grid-gap: 10px;
	}
	
	.stocks .grid .box.h-2x {
		grid-column: span 1;
	}

	#homeContentBanner6 .primary-banner {
		display: none !important;
	}

	#homeContentBanner6 .secondary-banner {
		display: block !important;
	}
}