footer .main-footer {
	padding: 1.875rem 0;
}

footer .main-footer .col-info .logo {
	display: block;
	margin-bottom: 1.5625rem;
	max-width: 14.0625rem;
	max-height: 4.6875rem;
}

footer .main-footer .col-info .logo svg {
	max-width: 100%;
    height: 1.375rem;
    vertical-align: middle;
}

footer .main-footer .col-info .phones {
	margin-bottom: 1.5625rem;
}

footer .main-footer .col-info .phones a:not([href="#toggle-callback-modal"]) {
	font-size: 1.375rem;
    line-height: 1.5rem;
    color: #000;
	display: block;
}

footer .main-footer .col-info .mails a {
	display: block;
	font-size: 1rem;
    line-height: 1.125rem;
	margin-bottom: 5px;
}

footer .main-footer .col-links {
	flex: 1;
}

footer .main-footer .col-links > .flex > .col {
	padding: 0 30px;
}

footer .main-footer .col-links > .flex > .col .links,
footer .main-footer .col-links > .flex > .col .sublinks {
	padding: 0;
	list-style: none;
	margin: 0;
	line-height: 1.75rem;
}

footer .main-footer .col-links .links a {
	padding: .25rem 0;
    line-height: 1.375rem;
}

footer .main-footer .col-links .links > li > a {
    color: #000;
}
footer .main-footer .col-links .sublinks li a {
	font-size: .8125rem;
    color: #666;
}

@media screen and (max-width: 997px) {
	footer .main-footer .col-links {
		display: none;
	}
	
	footer .main-footer .flex > .col-info {
		flex-grow: 1;
		text-align: center;
	}
	
	footer .main-footer .col-info .logo {
		margin-left: auto;
		margin-right: auto;
	}

	footer .main-footer .col-links {
		display: none;
	}
}