.section.section-top-categories .section-heading {
	margin-bottom: 1rem;
}

.section.section-top-categories .box {
	border: .0625rem solid #e9e9e9;
	margin-right: -1px;
	margin-bottom: -1px;
}

.section.section-top-categories .box > a {
	display: block;
	padding: 1.5625rem;
}

.section.section-top-categories .box .heading {
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.3125rem;
    color: #000;
}

.section.section-top-categories .box:hover {
	border-color: var(--ui-color-primary);
	z-index: 2;
}

.section.section-top-categories .box:hover .heading {
	color: var(--ui-color-secondary);
}

.section.section-top-categories .box .image {
	position: relative;
}

body.loading .section.section-top-categories .box .image > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section.section-top-categories .see-more-block {
	display: none;
}

.section.section-top-categories .see-more-block a {
	display: block;
    padding: .625rem .875rem;
    text-align: center;
    font-size: .6875rem;
    line-height: 1rem;
    color: #fff;
    border-radius: .25rem;
    background-color: #b6b6b6;
	margin-top: 15px;
    -webkit-transition: .25s;
    transition: .25s;
}

@media screen and (min-width: 998px) {
    .section.section-top-categories.has-filter {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 997px) {
    .section.section-top-categories.has-filter {
        padding-left: 0;
    }
}

@media screen and (max-width: 757px) {
    .section.section-top-categories .box {
		position: relative;
		text-align: left;
		margin-right: 0;
		margin-bottom: -1px;
	}
	
	.section.section-top-categories .box > a {
		padding: 1.2rem;
	}
	
	.section.section-top-categories .box::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 1.125rem;
		transform: translateY(-50%);
		width: .5625rem;
		height: .5625rem;
		border-top: .125rem solid #8a8a8a;
		border-right: .125rem solid #8a8a8a;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.section.section-top-categories .box .image {
		height: 50px;
		width: 50px;
		margin-right: .625rem;
	}

	.section.section-top-categories .box .image,
	.section.section-top-categories .box .heading {
		display: inline-block;
		vertical-align: middle;
    }
    
    .section.section-top-categories .see-more-block {
		display: block;
	}
}