.carousel {
	position: relative;
    padding-bottom: 57px;
}

.carousel .slick-list {
    overflow: hidden;
    margin: 0 -12px;
}

.carousel .slick-track {
    display: flex;
}

.carousel .slick-slide {
	padding: 0 12px;
}

.carousel.arrow-square .slick-arrow {
	color: #fff0;
}

.carousel.arrow-square .slick-arrow {
	position: absolute;
	top: 50%;
   	width: 12px;
    height: 12px;
    border-width: .01rem;
    border-color: var(--ui-color-primary);
	border-style: solid;
	border-radius: 0;
	transform: rotate(45deg) translate(0, -50%);
	padding: 0;
	opacity: 1;
}

.carousel.arrow-square.arrow-large .slick-arrow {
    width: 50px;
	height: 50px;
}

.carousel.arrow-square .slick-arrow.slick-disabled {
	display: none !important;
}

.carousel.arrow-square .slick-arrow,
.carousel.arrow-square .slick-arrow:hover,
.carousel.arrow-square .slick-arrow:active {
	box-shadow: none;
	background: transparent;
}

.carousel.arrow-square .slick-arrow.slick-next {
	border-bottom: none;
	border-left: none;
	right: 0;
}

.carousel.arrow-square .slick-arrow.slick-prev {
	border-top: none;
	border-right: none;
	left: 0;
}

.carousel.custom-nav-dots .slick-dots {
	margin-top: 1.5625rem;
	list-style: none;
	padding: 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.carousel.custom-nav-dots .slick-dots li {
	color: #fff0;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
}

.carousel.custom-nav-dots .slick-dots li button {
    width: 12px;
    height: 16px;
    border-radius: 50%;
	border: 2px solid #b6b6b6;
    background-color: #b6b6b6;
    display: block;
}

.carousel.custom-nav-dots .slick-dots li button:hover {
	background-color: transparent;
}

.carousel.custom-nav-dots .slick-dots li a:hover {
	background-color: #fff;
}

.carousel.custom-nav-dots .slick-dots li.slick-active button {
	border-color: #333;
    background-color: #fff;
}

@media screen and (max-width: 997px) {
	.carousel > .slick-arrow {
		display: none !important;
	}

	.carousel:not(.carousel-brands) > .slick-arrow {
		display: block !important;
	}
}

@media screen and (max-width: 430px) {
	.carousel:not(.carousel-brands) > .slick-arrow {
		display: none !important;
	}
}