footer .bottom-footer {
	padding: 1.25rem 0;
    line-height: 1.25rem;
}

footer .bottom-footer .col {
	flex: 1;
}

footer .bottom-footer .col-copyright {
	color: #666;
}

footer .bottom-footer .col-powered {
	color: #000;
	text-align: right;
}