.section.section-product .col-price .price.original {
	font-size: 1rem;
    color: #999;
}

.section.section-product  .product  .col-price .price.original {
	padding: 0;
}

.section.section-product .actions-box button {
	margin: 0;
    display: block;
    padding: .5rem;
    font-size: .75rem;
    line-height: 1.75rem;
    letter-spacing: .09375rem;
	width: 100%;
}

.section.section-product .actions-box .col-add-to-cart-button {
	padding-right: 10px;
}

.section.section-product .actions-box button svg {
	width: 2.125rem;
    height: 1.75rem;
	margin-right: .3125rem;
	vertical-align: top;
    fill: #ffffff;
}

.section.section-product .actions-box .links a {
	margin: 0;
    padding: .625rem 0;
    font-size: .8125rem;
    line-height: 1rem;
    text-transform: inherit;
    border-radius: 0;
    color: var(--ui-color-primary);
    background-color: transparent;
}

.section.section-product .actions-box .links a svg {
	width: 1.125rem;
	height: 1rem;
	vertical-align: middle;
	margin-right: 5px;
	color: var(--ui-color-primary);
}

.section.section-product .actions-box a.active .icon {
	color: var(--ui-color-secondary);
}
