.catalog-menu {
	padding: 1.5rem 0;
}

.catalog-main-menu {
	position: relative;
	z-index: 10;
}

.catalog-main-menu > ul {
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
}

.catalog-main-menu > a {
    padding: .58rem 1.25rem;
	font-size: .875rem;
    line-height: 1.375rem;
    color: #fff;
	display: block;
    background-color: var(--ui-color-primary);
	font-weight: 400;
	border-radius: .25rem;
}

.catalog-main-menu > a svg {
	width: 15px;
	height: 15px;
	vertical-align: sub;
	fill: #fff;
	margin-right: 10px;
}

/* .catalog-main-menu > a::after {
    content: "";
	top: 50%;
	right: 1rem;    
    width: .4375rem;
    height: .4375rem;
    position: absolute;
    border-left: .0625rem solid;
    border-bottom: .0625rem solid;
	margin-top: -2.5px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
}

.catalog-main-menu.open > a::after {
	right: 1.25rem;
	margin-top: 0px;
	-webkit-transform: rotate(135deg);
    transform: rotate(135deg);
} */

.catalog-main-menu > ul {
	position: absolute;
	top: calc(100% + 24px);
	left: 0;
	width: 100%;
	display: none;
	z-index: 2;
}

.catalog-menu .catalog-main-menu > ul {
	z-index: 6;
}

.catalog-main-menu.open > ul {
	display: block;
}

.catalog-main-menu > ul > li {
	display: block;
    border: .0625rem solid #ededed;
    border-top: 0;
	background-color: #fff;
}

.catalog-main-menu > ul > li > a {
	position: relative;
	display: block;
	padding: .8125rem 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 1.25rem;
    border-left: .3125rem solid transparent;
    border-right: .3125rem solid transparent;
    color: #666;
	white-space: nowrap;
	z-index: 2;
}

.catalog-main-menu > ul > li.has-icon > a {
	padding-left: 3.3125rem;
}

.catalog-main-menu > ul > li > a .icon {
	position: absolute;
    top: 50%;
	transform: translateY(-50%);
    left: 10px;
    width: 28px;
    height: 28px;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    color: var(--ui-color-secondary);
}

.catalog-main-menu > ul > li > a::after {
	content: '';
	position: absolute;
	background-image: url(./arrow.svg);
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	width: .3125rem;
    height: .5625rem;
}

.catalog-main-menu > ul > li:hover > a::after {
	display: none;
}

.catalog-main-menu > ul > li:hover {
	border-right-color: #fff;
}
	
.catalog-main-menu > ul > li:hover > a {
	border-left-color: var(--ui-color-primary);
}

.catalog-main-menu > ul > li:hover > a .icon,
.catalog-main-menu > ul > li.current > a {
	color: var(--ui-color-primary)
}

.catalog-main-menu > ul > li > .submenu {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1.9375rem;
	grid-row-gap: .75rem;
	top: -99999px;
	bottom: 0;
	left: calc(100% - 1px);
	background-color: #fff;
	width: calc(var(--grid-container-width) - 220px);
	height: max-content;
	padding: 2rem 2rem .75rem 2rem;
	border: .0625rem solid #ededed;
	border-top: 0;
	z-index: -1;
	opacity: 0;
}

.catalog-main-menu > ul > li:not(.force-hide-submenu):hover > .submenu {
	top: 0;
	opacity: 1;
}

.catalog-main-menu > ul > li > .submenu > li {
	padding-top: .25rem;
}

.catalog-main-menu > ul > li > .submenu > li > .inner {
	display: flex;
}

.catalog-main-menu > ul > li > .submenu > li > .inner > .image {
	width: 40px;
	height: 36px;
}

.catalog-main-menu > ul > li > .submenu > li > .inner > .content {
	margin-left: 10px;
}

.catalog-main-menu > ul > li > .submenu > li > .inner > .content > a {
	display: block;
    padding: .25rem 0;
    font-size: .875rem;
    font-weight: 700;
    color: #000;
}

.catalog-main-menu > ul > li > .submenu > li > .inner > .content > ul > li {
	padding: .25rem 0;
    font-size: .8125rem;
	width: max-content;
}

.catalog-main-menu > ul > li > .submenu > li > .inner > .content > ul > li > a {
    color: #666;
	display: block;
}

.catalog-main-menu > ul > li > .submenu > li > .inner > .content a:hover {
	color: var(--ui-color-primary);
}

@media screen and (max-width: 997px) {
	.catalog-menu {
		display: none;
	}
}