.section.section-catalog .tabs {
	margin-bottom: 1.375rem;
}

.section.section-catalog .tabs li {
	position: relative;
	padding: 0 1.25rem;
}


.section.section-catalog .tabs li a {
	font-size: 1rem;
	font-weight: 700;
	color: #b6b6b6;
	-webkit-transition: .3s;
	transition: .3s;
}

.section.section-catalog .tabs li a:hover {
	color: var(--ui-color-secondary);
}

.section.section-catalog .tabs li.current a {
	color: #000;
	border-bottom: .125rem solid var(--ui-color-secondary);
}

.section.section-catalog .tabs select {
	display: none;
}


.section.section-catalog:not(.is-carousel) .products {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-flow: dense;
	margin-bottom: 2rem;
}

.section.section-catalog.is-carousel .products .capsule {
	overflow: visible;
	position: relative;
	z-index: 2;
}

.section.section-catalog.is-carousel .nav-arrow {
	width: 30px;
	height: 45px;
	background-color: #b6b6b6;
	border-radius: 0;
	z-index: 3;
}

.section.section-catalog.is-carousel .nav-arrow::after {
    content: "";
    display: block;
    margin-top: .9375rem;
    width: .9375rem;
    height: .9375rem;
    border-top: .125rem solid #fff;
	margin-top: 4px;
}

.section.section-catalog.is-carousel .nav-arrow.prev::after {
    border-left: .125rem solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.section.section-catalog.is-carousel .nav-arrow.next::after {
	margin-left: -7px;
    border-right: .125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section.section-catalog.is-carousel .nav-arrow.prev { left: 0; }
.section.section-catalog.is-carousel .nav-arrow.next { right: 0; }

.section.section-catalog.is-carousel .nav-arrow,
.section.section-catalog.is-carousel .nav-dotes {
	display: none;
}

.section.section-catalog .products .box {
    border: .0625rem solid #e9e9e9;
	margin-bottom: -1px;
	margin-right: -1px;
	background-color: #fff;
	z-index: 1;
}

.section.section-catalog .products .product {
	position: relative;
	overflow: hidden;
}

.section.section-catalog .products .product .content {
	position: relative;
    padding: 1.5625rem;
    background-color: #fff;
	margin: -1px -1px 0 -1px;
	border: .0625rem solid transparent;
}

.section.section-catalog .products:not(.view-list) .box:hover {
	z-index: 2;
	border-color: transparent;
}

.section.section-catalog .products:not(.view-list) .box:hover .product {
	overflow: visible;
}

.section.section-catalog .products:not(.view-list) .box:hover .product .content {
	border-color: var(--ui-color-primary);
}

.section.section-catalog .products:not(.view-list) .box:not(:hover) .product .preview-button,
.section.section-catalog .products:not(.view-list) .box:not(:hover) .product .hover-buttons-block {
	display: none;
}

.product .labels-block {
    position: absolute;
    top: .9375rem;
    left: .9375rem;
    z-index: 1;
}

.product .labels-block .label {
	display: block;	
	margin-right: auto;
	padding: .34375rem .4375rem;
    font-size: .625rem;
    letter-spacing: .03125rem;
    text-transform: uppercase;
	font-weight: 700;
	white-space: pre-wrap;
	text-align: center;
}

.product .labels-block .label:not(:last-child) {
	margin-bottom: .0625rem;
}

.product .labels-block .label.sale {
	background-color: #322def;
}

.product .labels-block .label.time-buy,
.product .labels-block .label.best-day {
	color: #000;
	background-color: #ffd905;
}

.product .labels-block .label.newest {
    background-color: #ff7a29;
}

.product .labels-block .label.bestseller {
	background-color: #19ca6c;
}

.product .preview-button {
	width: max-content;
	height: max-content;
	position: absolute;
    opacity: .9;
	z-index: 1;
	transition: .1s;
}

.product .content > .preview-button {
	top: 7rem;
}

.product .preview-button:hover {
	opacity: 1;
}

.product .hover-buttons-block {
    position: absolute;
    top: 1rem;
    right: 1rem;
	z-index: 1;
}

.product .hover-buttons-block a {
	padding-left: .125rem;
    padding-right: .125rem;
}

.product .hover-buttons-block svg {
	height: 1rem;
	width: 1rem;
    fill: var(--ui-color-primary);
}

.product .hover-buttons-block a.active > svg {
	fill: var(--ui-color-secondary);
}

.product .thumbnail {
	height: 9.375rem;
	margin-bottom: 1.25rem;
	text-align: center;
}

.product.counter-active .thumbnail {
	height: 112px;
}

.best-day .product .thumbnail .preview-button {
	right: auto;
	bottom: auto;
	height: auto;
}

.product .thumbnail {
	text-align: center;
	transition: .25s;
}

.product .thumbnail img {
	object-fit: fill;
	width: auto;
	height: auto;
}

body.loading .product .thumbnail img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section.section-catalog .products .product .name {
    margin-bottom: 1rem;
    font-size: .875rem; 
    line-height: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
    color: #000;
	text-align: left;
	height: 2.5rem;
	overflow: hidden;
}

.section.section-catalog .products .product.counter-active .name {
	text-align: center;
}

.section.section-catalog .products .product .name:hover {
	color: var(--ui-color-secondary);
}

.section.section-catalog .products .product .name a {
	color: inherit;
}


.section.section-catalog .products .product .additional-block {
	position: relative;
	transition: .25s;
}

.section.section-catalog .products .product .additional-block .input-counter {
	position: absolute;
	right: 0;
	bottom: 0;
}

.section.section-catalog .products .product.counter-active .additional-block {
	padding-bottom: 38px;
}

.section.section-catalog .products .product.counter-active .additional-block .input-counter {
	bottom: 0px;
}


.section.section-catalog .products .product .price-block {
    position: relative;
	width: max-content;
	margin-right: auto;
	transition: .25s;
}

.section.section-catalog .products .product.counter-active .price-block {
	margin-left: 50%;
	transform: translateX(-50%);
}

.product .price {
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow-x: auto;
    color: var(--ui-color-primary);
}

.product .col-original {
	text-align: right;
}

.section-catalog .product .price .currency.rub {
	font-size: .99rem;
}

.product .price.original {
	padding-left: .9375rem;
    font-size: .85rem;
    line-height: 1.25rem;
    text-decoration: line-through;
    color: #999;
}

.product .price.original .currency.rub {
	font-size: inherit;
}

.product .economy {
	text-align: center;
	margin-top: .3125rem;
	color: #666;
	font-size: 13px;
}

.product .economy .price {
	display: inline-block;
	color: var(--ui-color-secondary);
	vertical-align: middle;
	font-size: 13px;
}

.product .economy-block {
	margin: 1rem auto .9375rem;
	max-width: 80%;
}

.product .economy-block .economizer {
	max-width: max-content;
	margin-left: auto;
	margin-right: auto;
}

.section.section-catalog .products .product .additional-block .variations {
	margin-top: .1875rem;
    margin-bottom: .1875rem;
}

.product .variations .variation .col {
	flex: 1;
	padding: 0 .5px;
}

.product .variations .variation .col-name {
	color: #000;
	text-align: right;
	padding: 0 1rem;
}

.product .variations .variation .col-values {
	flex: 2;
}

.product .variations .variation .col-values label {
	display: inline-block;
	cursor: pointer;
}

.product .variations .variation .col-values label span {
	display: inline-block;
	color: #000;
	font-size: 14px;
	border: .125rem solid transparent;
	border-radius: .9375rem;
	padding: 0 .375rem;
}

.product .variations .variation .col-values label input[type="radio"]:checked + span {
	border-color: var(--ui-color-secondary);
    color: var(--ui-color-secondary);
}

.product .variations .variation .col-values label:not(:last-child) {
	margin-right: .125rem;
}

.product .variations .variation.color label span {
    width: 1.25rem;
    height: 1.25rem;
	padding: 2px;
	overflow: hidden;
	box-sizing: content-box;
	border-color: #b6b6b6;
}

.product .variations .variation.color label span img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.section.section-catalog .products:not(.view-list) .product .additional-block .add-to-cart {
	margin-top: .9375rem;
}

.section.section-catalog .products .product .additional-block .add-to-cart .col-quantity {
	padding-right: .25rem;
}

.section.section-catalog .products .product .additional-block .add-to-cart .col-button {
    padding-left: .25rem;
}

.section.section-catalog .products .product .additional-block .add-to-cart .add-to-cart-button {
    padding: .625rem .8125rem;
	width: max-content;
}

.section.section-catalog .products .product .additional-block > .flex:not(.add-to-cart) > .col,
.section.section-catalog .products .product .info-block > .col {
    flex: 1;
}

.section.section-catalog .products .product .additional-block > .flex > .col-cart .add-to-cart {
	margin-top: 0;
}

.section.section-catalog .load-more-block {
	font-size: .75rem;
    font-weight: 700;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    color: #999;
	text-align: center;
}

.section.section-catalog .load-more-block.pagination {
	text-align: left;
	margin-top: 3.4rem;
	font-size: 14px;
	font-weight: 400;
	display: none;
}

.section.section-catalog .load-more-block.pagination nav > ul > li.caption {
	color: #666;		
}

.section.section-catalog .load-more-block.pagination nav > ul > li > a {
	color: #999fa6;
    padding-left: 10px;
}

.section.section-catalog .load-more-block.pagination nav > ul > li > a:hover,
.section.section-catalog .load-more-block.pagination nav > ul > li.current > a {
	color: #15c284;
}

.load-more-block > a {
	display: block;
	width: max-content;
	margin: 0 auto;
}


.load-more-block > a svg { 
	margin: .3125rem;
	width: 2.5rem;
	height: 2.5rem;
	fill: #999;
	transition: .5s;
}
.load-more-block > a.loading svg {
	animation-name: loadMoreButton;
	animation-iteration-count: infinite;
	animation-duration: .5s;
}

.load-more-block > a:not(.loading):hover > svg {
	transform: rotate(-360deg);
}

.load-more-block > a > span {
	display: block;
}

@media screen and (min-width: 998px) {
    .section.section-catalog .products .box.time-buy {
		grid-column-end: span 2;
	}
	
	.section.section-catalog .products .box.best-day {
		grid-row-end: span 2;
		grid-column-end: span 2;
	}
	
	.section.section-catalog .products .best-day .product {
		height: 581px;
	}
	
	.section.section-catalog .products .best-day .product .thumbnail {
		height: 23.75rem;
	}
	
	.product .labels-block .label.time-buy,
	.product .labels-block .label.best-day {
		width: 4.5rem; 
		height: 4.5rem; 
		padding: 1.375rem .625rem; 
		font-size: .8125rem; 
		line-height: .875rem; 
		border-radius: 50%; 
    }
    
    .section.section-catalog.has-filter {
		grid-column: 2 / 3;	
	}
	
	.section.section-catalog .load-more-block.pagination {
		display: block;
	}
}

@media screen and (max-width: 1237px) {
    .section.section-catalog .products {
		grid-template-columns: repeat(4, calc(100% / 4));
    }
    
    .section.section-catalog.has-filter .products {
		grid-template-columns: repeat(3, calc(100% / 3));
    }
    
    .section.section-catalog.is-carousel .nav-arrow {
		display: block;
	}
}

@media screen and (max-width: 997px) {
    .section.section-catalog .products {
		grid-template-columns: repeat(3, calc(100% / 3));
	}
	
	.section.section-catalog .products .box .product .additional-block .col-cart {
		margin-top: .9375rem;
	}
	
	.section.section-catalog .products .product .economy-block,
	.section.section-catalog .products .product .info-block > .col-timer {
		display: none;
	}
	
	.section.section-catalog.has-filter {
		padding-left: 0;
    }
    
    .section.section-catalog .products .product .content {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.section.section-catalog .products .box .product .additional-block > .flex:not(.add-to-cart) > .col {
		flex: 0 0 100%;
    }
    
    .section.section-catalog .actions-bar .mobile-filter-button {
		display: inline-block;
    }
    
    .section.section-catalog.is-carousel .nav-dotes {
		display: block;
	}
	
	.section.section-catalog.is-carousel .nav-arrow {
		display: none !important;
	}
}

@media screen and (max-width: 757px) {
    .section.section-catalog .tabs ul {
		display: none;
    }
    
    .section.section-catalog {
		padding-top: 0;
	}
	
	.section.section-catalog .products {
		grid-template-columns: repeat(2, 50%) !important;
	}
	
	.section.section-catalog .tabs select {
		display: block !important;
    }
    
    .section.section-catalog .actions-bar .mobile-filter-button {
		display: block;
		width: 100%;
		margin: 2rem 0 1rem;
	}
	
	.section.section-catalog .actions-bar > .col {
		flex: 0 0 100%;
	}
	
	.section.section-catalog .actions-bar .col-sorting select {
		margin: 0;
		display: block;
		width: 100%;
	}
	
	.section.section-catalog .actions-bar .col-views > .views-list {
		margin-top: 1rem;
	}
	
	.section.section-catalog .actions-bar .col-views > .views-list > a {
		flex: 1;
	}
	
	.section.section-catalog .actions-bar .col-views > .views-list > a.list {
		display: none;
	}
	
	.section.section-catalog .catalog-seo-text {
		margin-top: 0;
    }
    
    .section.section-catalog .products.view-list .product > .flex > .col-info {
		border-right: none !important;
	}
	
	.section.section-catalog .products.view-list .product > .flex {
		flex-wrap: wrap;
    }
    
    .section.section-catalog .products.view-list .product > .flex > .col-info,
	.section.section-catalog .products.view-list .product > .flex > .col-actions,
	.section.section-catalog .products.view-list .product > .flex > .col-actions > .flex > .col {
		flex: 0 0 100%;
	}
	
	.section.section-catalog .products.view-list .product .additional-block .add-to-cart .col {
		padding-left: 0;
    }
    
    .section.section-catalog .products.view-list .product > .flex > .col-actions {
		padding-left: 91px;
	}
	
	.section.section-catalog .products.view-list .product > .flex > .col-info > .content {
		padding-bottom: 0;
	}
	
	.section.section-catalog .products.view-list .product > .flex > .col-actions > .content {
		padding-top: 0;
    }
    
    .view-list .product .thumbnail {
		width: 61px;
		height: 61px;
	}
}

@media screen and (max-width: 517px) {
    .section.section-catalog .products:not(.view-list) .box .product .additional-block .add-to-cart .col-quantity {
		display: none;
	}
	
	.section.section-catalog .products:not(.view-list) .box .product .additional-block .add-to-cart .col-button {
		flex: 1;
	}
	
	.section.section-catalog .products:not(.view-list) .box .product .additional-block .add-to-cart .col-button .button {
		width: 100%;
	}
}