.grid {
	display: grid;
	-ms-display: grid;
}

.grid.inline {
	display: inline-grid;
	-ms-display: inline-grid;
}

.grid.inline-4 {
	grid-template-columns: repeat(4, 1fr);
}

.grid.inline-5 {
	grid-template-columns: repeat(5, 1fr);
}

.ih-center { justify-items: center; }
.grid.ih-start { justify-items: start; }
.grid.ih-end { justify-items: end; }

.h-center { justify-content: center; }
.grid.h-start { justify-content: start; }
.grid.h-end { justify-content: end; }

.v-center { align-items: center; }
.grid.v-start { align-items: start; }
.grid.v-end { align-items: end; }
.grid.v-stretch { align-items: stretch; }

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.flex.nowrap {
	flex-wrap: nowrap;
}

.flex > .col {
	flex-basis: auto;
}

.flex.col-1 > .col { flex-basis: 100%; }
.flex.col-2 > .col { flex-basis: calc(100% / 2); }
.flex.col-3 > .col { flex-basis: calc(100% / 3); }
.flex.col-4 > .col { flex-basis: calc(100% / 4); }
.flex.col-5 > .col { flex-basis: calc(100% / 5); }
.flex.col-6 > .col { flex-basis: calc(100% / 6); }
.flex.col-7 > .col { flex-basis: calc(100% / 7); }
.flex.col-8 > .col { flex-basis: calc(100% / 8); }
.flex.col-9 > .col { flex-basis: calc(100% / 9); }
.flex.col-10 > .col { flex-basis: calc(100% / 10); }
.flex.col-11 > .col { flex-basis: calc(100% / 11); }
.flex.col-12 > .col { flex-basis: calc(100% / 12); }

.flex .grow-0 > .col {
	flex-grow: 0;
}

.flex.h-start { justify-content: flex-start; }
.flex.h-end { justify-content: flex-end; }
.flex.h-sb { justify-content: space-between; }
.flex.h-sa { justify-content: space-around; }

.flex.v-start { align-items: flex-start; }
.flex.v-end { align-items: flex-end; }

.flex.h-start > .col
.flex.h-center > .col,
.flex.h-end > .col {
	flex-grow: 0;
}