/* MINWIDTHS */

@media screen and (min-width: 998px) {
	
	body.fixed-header {
		padding-top: 95px;
	}
	
	
	.wrapper {
		--grid-container-width: 1221px;
	}

	.page {
		max-width: var(--grid-container-width);
	}

	.section.section-product.has-additional-section {
		padding-bottom: calc(3.125rem + 45px);
	}
		
}
 
/* MAXWITHS */
	
@media screen and (max-width: 1237px) {
		
	.wrapper {
		--grid-container-width: 981px;
		grid-template-columns: 1fr minmax(auto, var(--grid-container-width)) 1fr;
	}
	
	.top-header .col-location {
		padding-left: 30px;
    	padding-right: 10px;
	}
	
	.top-header .col-primary-menu ul li a {
		padding: .7rem .5rem;
	}
	
	.categories .grid {
		grid-template-columns: repeat(4, calc(100% / 4));
	}
			
	.section.section-product .grid {
		grid-template-columns: 40% 60%;
	}
	
	.section.section-product .content .gallery-box .thumbnail {
		height: 15rem;
	}
	
	.section.section-my-account .dashboard > .column {
		flex: 0 0 calc(100% / 2);
	}
	
}

@media screen and (max-width: 997px) {
	
	.large-device { display: none !important; }
	.middle-device { display: block !important; }
	
	.my-account-menu,
	.section.section-my-account .content a.logout {
		display: none; 
	}
		
	.wrapper {
		--grid-container-width: 100%;
		grid-template-columns: var(--grid-container-width);
		grid-template-areas: "container";
		box-shadow: 0 0 0.875rem 0.4375rem rgba(0,0,0,.1);
		padding-top: 60px;
	}
	
	.container {
		grid-template-areas: 
			"top-header"
			"top-slider";
		grid-template-columns: 100%;
	}
	
	.box.full-column {
		grid-column: 1 / 2;	
	}
				
	.categories .grid {
		grid-template-columns: repeat(3, calc(100% / 3));
	}
			
	.section > .content:not(.no-resize) {
		max-width: 721px;
		margin-left: auto;
		margin-right: auto;
	}
		
	.carousel > .nav-arrow {
		display: none !important;
	}
	
	
		
	.section.section-product .grid {
		grid-template-columns: 100%;
	}
	
	.section.section-product .content .gallery-box .thumbnail {
		height: 26.875rem;
	}
	
	.section.section-product-additional .tab-switcher {
		margin-top: 1px;
	}
		
	.section.section-auth {
		padding: 3.125rem 0;
	}
	
	.section.section-my-account .content {
		padding-left: 0;
	}
	
	.section.section-auth .content {
		padding: 0 !important;	 
	}
	
	.section.section-my-account .orders-profile .list .column {
		flex: 0 0 50%;
	}
	
	.modal-favorites,
	.modal-quick-view {
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	
	.modal-quick-view > .inner {
		max-width: 701px;
	}
	
	.modal-quick-view .section.section-product .grid {
		grid-template-columns: 4fr;
	}
	
}

@media screen and (max-width: 757px) {
	
	.wrapper {
		padding-top: 50px;
	}
	
	.section.section-my-account .orders-profile .list .column {
		flex: 0 0 100%;
	}
	
	.section.section-my-account .dashboard > .column {
		flex: 0 0 100%;
	}
		
	.section.section-favorites .favorites-block .favorites .list .product > .flex > .col {
		flex: 0 0 100%;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .col-store > .flex {
		padding-left: 9rem;
		justify-content: flex-start;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .col-store > .flex > .col:not(:last-child) {
		padding-right: 2rem;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .col-store > .flex > .col-price {
		display: none;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .col-price, 
	.section.section-favorites .favorites-block .favorites .list .product .col-total {
		flex: 0 0 auto;
	}
	
	.section.section-favorites .cart-states,
	.section .section-heading .see-more {
		display: none;
	}
	
	.section.section-favorites {
		background: #fff;
	}
	
	.section.section-favorites::before,
	.section.section-favorites::after {
		display: none;
	}
	
	.section.section-favorites .favorites-block .favorites .top > .flex > .col, 
	.section.section-favorites .favorites-block .favorites .bottom > .flex > .col {
		flex: 0 0 100%;
	}
	
	.section.section-favorites .favorites-block .favorites .top .filter-field,
	.section.section-favorites .favorites-block .bottom .coupon-field {
		width: 100%;
	}
	
	.section.section-favorites .favorites-block .favorites .top .filter-field {
		margin-bottom: 10px;
	}
	
	.section.section-favorites .favorites-block .bottom .coupon-field {
		margin-bottom: 20px;
	}
	
	.section.section-favorites .favorites-block .favorites .top .col-total-msg .text {
		text-align: center;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .info-price {
		display: block;
	}
		
	.categories .grid {
		grid-template-rows: auto !important;
		grid-template-columns: repeat(1, 100%) !important;
	}
		
	.section.section-product .box:not(.gallery-box) .flex:not(.ratings-flex) > .col {
		flex: 0 0 100%;
		margin-bottom: 1rem;
	}
	
	.section.section-my-account .orders-block > .order .col-data,
	.section.section-my-account .orders-block > .order .col-action,
	.section.section-my-account .orders-block > .order >.bottombar .col-actions,
	.section.section-my-account .orders-block > .order >.bottombar .col-more {
		flex: 0 0 100%;
	}
	
	.section.section-my-account .orders-block > .order >.bottombar .col-actions,
	.section.section-my-account .orders-block > .order >.bottombar .col-more {
		text-align: center;
	}
	
	.section.section-my-account .orders-block > .order .col-action {
		margin-top: 1rem;
	}
	
	.view-list .product .thumbnail {
		width: 61px;
		height: 61px;
	}
		
	.section.section-favorites .favorites-block .buttons .button {
		display: block;
		width: 100%;
		margin: 0 0 3px 0;
	}
	
	.section > .content:not(.no-resize) {
		max-width: 502px;
	}
		
	.section.section-product .actions-box .col-add-to-cart-button {
		padding-right: 0;
	}
	
	.modal-quick-view > .inner {
		max-width: 461px;
	}
	
}

@media screen and (max-width: 600px) {
	
	.section.section-favorites .favorites-block .favorites .list .product .col-store > .flex {
		padding-left: 0;
	}
	
}

@media screen and (max-width: 580px) {

	.auth-form.confirm {
		width: 395px;
	}

	.auth-form.confirm form .button:last-child {
		margin-left: 158px;
		margin-top: 3px;
	}

}

@media screen and (max-width: 517px) {
	
	.large-device { display: none !important; }
	.small-device { display: block !important; }
	
	.section.section-my-account .content,
	.section > .content {
		padding: 0 .625rem;
	}
		
	.section.section-favorites .favorites-block .favorites .list .product .col-product .flex.nowrap {
		flex-wrap: wrap;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .col-product .flex .col {
		flex: 0 0 100%;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .thumbnail {
		width: 100%;
		height: 160px;
		text-align: center;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .name {
		text-align: center;
	}
	
	.section.section-favorites .favorites-block .favorites {
		max-width: 100%;
		padding: 0;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .col-store > .flex {
		padding-left: 0;
   		justify-content: center;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .info-price .text,
	.section.section-favorites .favorites-block .favorites .list .product .info-price {
		text-align: center;
	}
	
	.section.section-favorites .favorites-block .favorites .list .product .input-counter {
		margin-left: auto;
		margin-right: auto;
	}
		
	.modal-quick-view {
		padding: 1rem;
	}
	
	.modal-quick-view .section.section-product .content .box {
		padding: .5rem
	}
	
	.modal-quick-view .section.section-product .content .gallery-box .thumbnail {
		height: auto;
	}

	.modal .auth-form.login,
	.modal .auth-form.registration {
		width: 100%;
	}
	
}

@media screen and (max-width: 430px) {
	
	.carousel:not(.carousel-brands) > .nav-arrow {
		display: none !important;
	}

	.auth-form.confirm {
		width: 100%;
	}
	
	.auth-form.confirm form label input,
	.auth-form.confirm form label .button {
		width: 100%;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.auth-form.confirm form label .button {
		margin-top: 5px;
	}

	.auth-form.confirm .clock-block {
		text-align: center;
	}
	
	.auth-form.confirm .clock-block .clock {
		display: block;
	}

	.auth-form.confirm .clock-block .icon {
		margin-left: 0;
	}

	.cart-modal .cart-list .product .col-count {
		flex: 0 0 100%;
	}

}