@import url('./variables.css');
@import url('./grid.css');

::-webkit-input-placeholder { color: inherit; }
:-ms-input-placeholder { color: inherit; }
::placeholder { color: inherit; }

body {
	font-size: 13px;
	background-color: #fff;
	line-height: 1.5;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
}

body, abbr {
	color: #666;
}

button, 
input, 
optgroup, 
select, 
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button,
select {
	text-transform: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	outline: none;
}

button {
    overflow: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0 0;
    border-radius: 0;
    line-height: 1;
	border: none;
}

[type="submit"],
[type="button"] {
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
}

[type="text"], 
[type="password"], 
[type="date"], 
[type="datetime"], 
[type="datetime-local"], 
[type="month"],
[type="week"], 
[type="email"], 
[type="number"], 
[type="search"], 
[type="tel"], 
[type="time"], 
[type="url"], 
[type="color"], 
textarea {
	display: block;
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    padding: .5rem;
    border: 0;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: inherit;
    color: #000;
    background-color: #fff;
    box-shadow: none;
    border-radius: .3125rem;
    -webkit-transition: box-shadow .5s,border-color .25s ease-in-out;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a, 
b, 
em, 
i, 
small, 
strong {
    line-height: inherit;
}

a {
    background-color: transparent;
    color: var(--ui-color-primary);
    text-decoration: none;
    cursor: pointer;
}

a:active,
a:hover {
    outline: 0;
	color: var(--ui-color-primary-hover);
	text-decoration: none;
}

img {
	max-width: 100%;
}

img.lazy:not(.loaded) {
	object-fit: none;
	width: auto;
	height: auto;
	transition: .25s;
}

.icon {
    display: inline-block;
	fill: currentColor;
	color: var(--ui-color-secondary);
}


svg:not(:root) {
    overflow: hidden;
}

svg .icon-secondary {
	fill: var(--ui-color-secondary);
}

svg .icon-primary {
	fill: var(--ui-color-primary);
}

p {
	margin: 0;
}

select {
	width: 100%;
	padding: 0 2.8125rem 0 .9375rem;
    line-height: 2.8125rem;
    border-radius: .3125rem;
    color: #999;
	height: 45px;
	border: transparent;
    background: #eeeff1;
    box-shadow: none;
}

.clearfix {
	float: none;
	clear: both;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.relative {
	position: relative;
}

.p-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p-x-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.p-y-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.align-center {
	text-align: center;
}

nav.menu > ul,
ul.menu,
ul.submenu {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.inline > li,
ol.inline > li {
	display: inline-block
}

.button {
	display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: background-color .25s ease-out,color .25s ease-out;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .85em 1em;
    margin: 0 0 1rem;
    font-size: .9rem;
    background-color: var(--ui-color-secondary);
    color: #ffffff;
	font-weight: 700;
    text-transform: uppercase;
}

.button.default:active {
	outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.button:hover {
	background-color: var(--ui-color-secondary-hover);
    color: #ffffff;
}

.button.secondary {
	color: #fff;
    background-color: #aab1b8;
}

.button.secondary:hover {
	color: #fff;
	background-color: #c6cbcf;
}

.button.small {
	margin-bottom: 0;
    padding: .5625rem .8125rem;
    font-size: .6875rem;
    line-height: 1rem;
    letter-spacing: .0625rem;
}

.button.tiny {
	margin-bottom: 0;
	padding: .625rem .9375rem;
	font-size: .625rem;
	letter-spacing: .0625rem;
}

.button.primary {
	background-color: var(--ui-color-primary);
    color: #ffffff;
}

.button.primary:hover {
	background-color: var(--ui-color-primary-hover);
}
.button.expanded {
	display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.button .icon {
	margin-right: .3125rem;
    vertical-align: top;
    fill: #ffffff;
}

.label {
    display: inline-block;
    padding: .1875rem .25rem;
    font-size: .75rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: .1875rem;
    background: #b6b6b6;
    color: #fff;
}

.label.alert {
	background: #d8192c;
    color: #fff;
}

.section {
	padding: 3.125rem 0;
}

.section.half-padding {
	padding: 1.5625rem 0;
}

.no-b-padding { padding-bottom: 0 !important; }
.no-t-padding { padding-top: 0 !important; }
.no-padding { padding: 0 !important; }

.section.white .section-heading {
	color: #fff;
}

.section.align-center {
	text-align: center;
}

.section .section-heading {
	position: relative;
	margin-top: 0;
	margin-bottom: 2.5rem;
	font-size: 1.5rem;
	font-weight: 900;
	color: #000;
}

.section .section-heading .see-more {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: .075rem;
    text-transform: uppercase;
    color: #999;
}

.section.center-heading .section-heading {
	text-align: center;
}

.thumbnail {
	height: 100%;
	position: relative;
}

.thumbnail > a {
	display: block;
	height: 100%;
}

.thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.thumbnail img.lazy:not(.loaded) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scroll-up-down {
    position: fixed;
    z-index: 20;
    left: 1.875rem;
    bottom: 1.875rem;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0;
    padding: .875rem 0;
    border-radius: 1.5625rem;
	opacity: 1;
	z-index: 10;
	transition: .25s;
}

.scroll-up-down:not(.show) {
	opacity: 0;
	z-index: -1;
	transition: .25s;
}

.scroll-up-down .icon {
	width: 100%;
    height: 1.375rem;
}

.subscribe-form input {
	margin-bottom: 0;
    margin-right: .375rem;
    width: calc(100% - 110px);
	line-height: 1rem;
    border: .125rem solid #b6b6b6;
    border-radius: .25rem;
    color: #333;
	display: inline-block;
}


.full-border-top::before,
.full-border-bottom::after {
	content: '';
	position: absolute;
	top: 0;
	left: -100vh;
	border-top: .0625rem solid #d5d5d5;
	width: 200vw;
	z-index: 1;
}

.full-border-bottom::after {
	bottom: 0;
	top: auto;
}

.full-border-top,
.full-border-bottom,
.bg-full {
	position: relative;
}

.bg-full > .content {
	position: relative;
	z-index: 2;
}

.bg-full::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100vw;
	height: 100%;
	width: 200vw;
}

.bg-full.light-silver::before {
	background-color: #f6f6f6;
}

.bg-full.primary::before {
	background-color: var(--ui-color-primary)
}

.currency.rub {
	font-family: 'ALSRubl-Arial', Arial, sans-serif;
	line-height: normal;
}

.middle-device:not(.large-device),
.small-device:not(.large-device) { display: none; }

label.choose input:checked ~ .elem::after,
label.choose input:checked ~ .elem::before {
    border-color: var(--ui-color-secondary) !important;
}

label.color {
	display: inline-block;
    vertical-align: middle;
    margin: 0 1.5px 6px;
    cursor: pointer;
}

label.color > .bg {
	display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #f6f6f6;
}

label.color > input:checked ~ .bg {
	box-shadow: 0 0 0 2px #ff5a43;
    border-color: #fff;
}

.form label {
	display: block;
}

.form input {
	padding: .8125rem .9375rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    border: .0625rem solid transparent;
    background-color: #f6f6f6;
    resize: none;
    color: #333;
	outline: none;
}

.form .caption {
	font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: #888;
	margin-bottom: .5rem;
}

.wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr minmax(auto, var(--grid-container-width)) 1fr;
	grid-template-rows: auto;
	grid-template-areas: ". container .";
	background-color: #fff;
	z-index: 2;
	overflow-x: hidden;
}

.wrapper.drag {
	user-select: none;
}

body.mobile-menu-open .wrapper {
	transform: translateX(260px);
}

.box.dev {
	background-color: #f9f9f9;
	outline: 1px solid silver;
}

.container {
	display: grid;
	grid-area: container;
	grid-template-areas: 
		"top-header top-header"
		"header header"
		"top-slider top-slider";
	grid-template-columns: 264px auto;
	grid-template-rows: auto;
}

.box.full-column {
	grid-column: 1 / 3;			
}

.subscribe-form {
	display: block;
}

.page {
	position: relative;
	z-index: 5;
}

@keyframes loadMoreButton {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-180deg);
	}
}