:root {
	--ui-color-primary: #3a5bc3;
	--ui-color-primary-hover: #607bd0;
	--ui-color-secondary: #ff7424;
	--ui-color-secondary-hover: #ff9457;
    --ui-field-size-lg: 47px;
    --ui-field-size-md: 39px;
    --ui-field-size-sm: 31px;
    --ui-field-size-xs: 26px;
    --ui-field-color-success: #7bd500;
    --ui-field-color-primary: #66afe9;
    --ui-field-color-danger: #ff5752;
    --ui-field-color-warning: #d5a933;
    --ui-field-color-disabled: #c6cdd3;
    --ui-field-size: var(--ui-field-size-md);
	--ui-icon-size-xs: 26px;
    --ui-icon-size-sm: 31px;
    --ui-icon-size-md: 39px;
    --ui-icon-size-lg: 47px;
	--grid-container-width: 1221px;
}