.timer {
    background-color: #f6f6f6;
	border-radius: .375rem;
	overflow: hidden;
	height: 42px;
	text-align: center;
	width: max-content;
}

.timer,
.timer .t ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0;
	padding: 0;
}

.timer .t {
	border-top: .0625rem solid #d0d0d0;
	border-bottom: .0625rem solid #d0d0d0;
}

.timer .t ul {
	list-style: none;
}

.timer > div,
.timer .t ul > li {
	flex: 1;
}

.timer .t ul > li:not(:last-child) {
	position: relative;
    padding-right: 1.6875rem;
}

.timer .t ul > li:not(:last-child)::after {
    content: ":";
    position: absolute;
    top: 50%;
	transform: translateY(-50%);
    right: .625rem;
    font-size: .875rem;
    font-weight: 700;
    line-height: 40px;
    color: #000;
}

.timer .i {
	background-color: var(--ui-color-primary);
}

.timer .i svg {
	width: 1.875rem;
	height: 2.625rem;
	padding: .3125rem;
    fill: #ffffff;
}

.timer .t {
	padding: 0 .75rem;
    line-height: 1.5rem;
}

.timer > div span {
	display: block;
    margin-bottom: -.625rem;
    font-size: 1rem;
    line-height: 1.625rem;
    white-space: nowrap;
	color: #000;
	font-weight: bold;
}

.timer > .s {
    padding: 0 .8125rem;
    line-height: 1.5rem;
    border: .0625rem solid #d0d0d0;
    border-radius: 0 .375rem .375rem 0;
    background-color: #fff;
}