.stock-rating {
	position: relative;
	width: .875rem;
    height: .8rem;
	background-size: .875rem .8125rem;
	background-image: url(./stock.svg);
}

.stock-rating > .value {
	height: 100%;
	width: 0;
	background-size: .875rem .8125rem;
	background-image: url(./stock.svg);
}

.stock-rating > span {
	position: absolute;
	left: calc(100% + 5px);
	top: 50%;
	transform: translateY(-50%);
}

.stock-rating.many > .value { background-image: url(./stock-many.svg) }
.stock-rating.mean > .value { background-image: url(./stock-mean.svg) }
.stock-rating.few > .value { background-image: url(./stock-few.svg) }

.stock-rating.many > span { color: #1fbb35; }
.stock-rating.mean > span { color: #ffc11b; }
.stock-rating.few > span { color: #d8192c; }