.section.section-catalog .products .best-day .product {
	height: 290px !important;
}

.section.section-catalog .products .best-day .product .thumbnail {
	height: 9.375rem !important;
    margin-top: 0 !important;
    margin-bottom: 1.25rem !important;
}

.product .thumbnail {
	display: block !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto !important;
}

.product .thumbnail img {
	max-height: 100%;
	max-width: 100%;
}

.product .thumbnail.no-image {
    display: flex !important;
    justify-content: center;
    align-items: center;

}

.product .additional-block .economizer,
.product .additional-block .timer {
	margin: 1rem 0;
	width: 100%;
}

.product .additional-block .timer .i {
	display: none;
}

.product .additional-block .economizer .g {
	border-radius: .375rem;
}

.product .additional-block .timer .t {
	border-left: .0625rem solid #d0d0d0;
	border-radius: .375rem 0 0 .375rem;
}

.section.section-catalog .products.view-list .product > .flex {
	flex-wrap: nowrap;
}

.section.section-catalog .products.view-list .product > .flex > .col-info {
	flex: 0 0 64%;
}

.section.section-catalog .products.view-list .product > .flex > .col-actions {
	flex: 1;
}

.section.section-catalog .products.view-list:not(.view-mini) .product > .flex > .col-info {
	border-right: 1px solid #e9e9e9;
}

.section.section-catalog .products.view-list .product > .flex > .col-info .col-content {
	flex: 1;
	padding-left: 30px;
}

.section.section-catalog .products.view-list .product .content {
	margin: 0;
}

.section.section-catalog .products.view-list .product > .flex > .col-info .col-content > .flex > .col {
	flex: 1;
}

.section.section-catalog .products.view-list .product .star-rating {
	margin-bottom: 10px;
}

.section.section-catalog .products.view-list .product {
	height: initial !important;
}

.view-list .product .hover-buttons-block {
	position: static;
	text-align: center;
}

.view-list.view-mini .product .hover-buttons-block {
	padding-left: 40px;
	text-align: left;
}

.section.section-catalog .products.view-list .product .name {
	font-weight: 700;
	text-align: left;
	height: initial;
}

.view-list .product .thumbnail {
	margin: 0;
}

.section.section-catalog .products.view-mini .product > .flex {
	justify-content: space-between;
}


.view-list.view-mini .product .thumbnail {
	width: 61px;
	height: 61px;
}

.view-list.view-mini .product .description { display: none; }