.top-slider {
	grid-area: top-slider;
}

body.fixed-header .top-slider {
	grid-row-start: 1;
}

.top-slider .carousel {
	padding-bottom: 0;
}

.top-slider .slick-slider {
	position: relative;
}

.top-slider .content {
	padding: 19px 0 0 0;
}

.top-slider .item {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 470px;
	outline: none;
}

.top-slider .item > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.top-slider .item .inner {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 50px;
	color: #000;
}

.top-slider .item.white .inner {
	color: #fff;
}

.top-slider .item .inner > .caption {
	font-size: 3.5rem;
    line-height: 3.75rem;
	margin: 0;
	font-weight: 900;
	margin-bottom: .3125rem;
}

.top-slider .item .inner > .description {
	width: 25rem;
    line-height: 1.625rem;
    font-size: 1rem;
	margin-bottom: 1.5625rem;
	margin-top: 0;
}

.top-slider .item .inner > a {
	padding: .9375rem 1.25rem;
    font-size: .75rem;
	display: inline-block;
    font-weight: 700;
    letter-spacing: .09375rem;
	text-transform: uppercase;
}

.top-slider .slick-dots {
	position: absolute;
	width: 100%;
	bottom: 1rem;
	list-style: none;
	padding: 0;
	text-align: center;
}

.top-slider .slick-dots li {
	position: relative;
	margin-right: .75rem;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.top-slider .slick-dots li button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	color: #fff;
	overflow: hidden;
	width: 12px;
    height: 12px;
	border: none;
	transition: .1s;
	border-radius: 50%;
}

.top-slider .slick-dots li.slick-active button {
	width: 20px;
	height: 20px;
	transition: none;
}

.top-slider .slick-track {
	display: flex;
}

.top-slider .slick-list {
	overflow: hidden;
}

@media screen and (max-width: 997px) {
    .top-slider {
		grid-row-start: 1;
    }
    
    .top-slider .item {
		height: 320px;	
	}
	
	.top-slider .content {
		padding: 0;
	}
	
	.top-slider .content .carousel .capsule .rails .slide .item .inner > .caption {
		line-height: 1.875rem;
    	font-size: 1.75rem;
	}
	
	.top-slider .content .carousel .capsule .rails .slide .item .inner > .description {
		font-size: 14px;
	}
	
	.top-slider .content .carousel .capsule .rails .slide .item .inner > .button {
		padding: .8125rem;
		font-size: .6875rem;
	}
}

@media screen and (max-width: 757px) {
    .top-slider .content .carousel .capsule .rails .slide .item .inner {
		padding: 0 100px;
	}
}

@media screen and (max-width: 517px) {
    .top-slider .item {
		height: 200px;
	}
	
	.top-slider .content .carousel .capsule .rails .slide .item .inner > .button {
		display: none;
	}
	
	.top-slider .content .carousel .capsule .rails .slide .item {
		position: relative;
	}
	
	.top-slider .content .carousel .capsule .rails .slide .item .inner {
		width: max-content;
		padding: 0;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}