.section.section-news {
	padding: 2.5rem 0 2.8125rem;
}

.section.section-news .section-heading {
	margin-bottom: 1.25rem;
}

.section.section-news .carousel .slick-slide .item {
	position: relative;
	height: 350px;
}

.section.section-news .carousel .slick-slide .item .content {
    padding: 1.25rem 1.5rem;
    text-align: left;
    font-size: .8125rem;
    line-height: 1.5;
    background-color: #fff;
	min-height: 100%;
}

.section.section-news .carousel .slick-slide .item .thumbnail img {
	width: 100%;
	height: auto;
}

.section.section-news .carousel .slick-slide .item.has-thumbnail .content {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 8.125rem;
    pointer-events: none;
}

.section.section-news .carousel .slick-slide .item .content .datetime {
    display: inline-block;
    padding: .1875rem .25rem;
    font-size: .75rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: .1875rem;
    background: #b6b6b6;
    color: #fff;
	font-weight: 700;
	margin-bottom: .375rem
}

.section.section-news .carousel .slick-slide .item .content .heading {
    margin-top: 0;
    margin-bottom: .3125rem;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000;
}

.section.section-news .carousel .slick-slide .item .content .heading a {
	color: inherit;
}

.section.section-news .carousel .slick-slide .item .content .description {
	margin: 0;
    overflow: hidden;
    color: #666;
	text-overflow: ellipsis;
    -webkit-transition: .5s;
    transition: .5s;
}

.section.section-news .carousel .slick-slide .item.has-thumbnail .content .description {
	max-height: 0;
}

.section.section-news .carousel .slick-slide .item.has-thumbnail:hover .content .description {
	max-height: 350px;
	-webkit-transition: .5s;
    transition: .5s;
}

.section.section-news .carousel .slick-arrow {
	border-color: #fff;
	margin-top: -22px;
}

.section.section-news .carousel .slick-arrow.slick-prev {
	left: -70px;
}

.section.section-news .carousel .slick-arrow.slick-next {
	right: -25px;
}

.section.section-news .carousel .slick-dots li button {
	border-color: #2e499c;
	background-color: #2e499c;
}

.section.section-news .carousel .slick-dots li button:hover {
	background-color: transparent;
} 

.section.section-news .carousel .slick-dots li.slick-active button {
    border-color: #fff;
}

@media screen and (max-width: 757px) {
    .section.section-news .carousel {
        width: 17.6875rem;
		margin: auto;
    }

    .section.section-news .carousel .slick-slide {
        padding: 0;
    }
}