.star-rating {
	position: relative;
	width: 6.5625rem;
    height: 1.125rem;
	background-image: url(./star.svg);
	background-size: 1.3125rem 1.125rem;
}

.star-rating > .value {
	height: 100%;
	width: 0px;
    background: url(./star-active.svg);
    background-size: 1.3125rem 1.125rem;
}

.star-rating > .number {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: .25rem;
    font-size: .8125rem;
    font-weight: 400;
    color: #000;
}