.section.section-page-info {
	margin-top: -2px;
	z-index: 5;
}

.section.section-page-info > .content {
	padding-bottom: .625rem;
}

.section.section-page-info .section-heading {
	margin-bottom: .9375rem;
	font-size: 1.5625rem;
	line-height: 1.5625rem;
	color: #000;
	font-weight: 700;
}

.section.section-page-info .description {
	line-height: 1.375rem;
    margin-bottom: 1.25rem;
}

.section.section-page-info .breadcrumbs ul {
	padding: 1.25rem 0 .625rem;
}

.section.section-page-info .breadcrumbs ul li {
	position: relative;
	color: #999;
    font-size: .8125rem;
    cursor: default;
}

.section.section-page-info  .breadcrumbs a {
	color: #333;
}

.section.section-page-info  .breadcrumbs > nav > ul > li.has-sublinks > a {
	position: relative;
    margin-right: .375rem;
    border-bottom: .0625rem dotted #333;
}

.section.section-page-info  .breadcrumbs > nav > ul > li.has-sublinks > a::after {
	content: "";
    position: absolute;
    top: calc(50%);
    right: -.5625rem;
    margin-top: -.0625rem;
    border-top: .1875rem solid #333;
    border-left: .1875rem solid transparent;
    border-right: .1875rem solid transparent;
}

.section.section-page-info  .breadcrumbs .sublinks {
	list-style: none;
	margin: 0;
	top: 1.875rem!important;
    z-index: 30;
    width: max-content;
    padding: .6875rem 1.25rem;
    overflow: hidden;
    border-top: .125rem solid #15c284;
    box-shadow: 0 0.125rem 0.625rem rgba(0,0,0,.15);
	background-color: #fff;
    font-size: 1rem;
    position: absolute;
	display: none;
    z-index: 9;
}

.section.section-page-info  .breadcrumbs > nav > ul > li.has-sublinks:hover .sublinks {
	display: block;
	overflow: visible;
}

.section.section-page-info  .breadcrumbs .sublinks::before {
    content: '';
    position: absolute;
    top: -.625rem;
    border-left: .625rem solid transparent;
    border-right: .625rem solid transparent;
    border-bottom: .625rem solid #15c284;
    left: 2rem;
}

.section.section-page-info  .breadcrumbs .sublinks::after {
	content: '';
    position: absolute;
    top: -.5rem;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #fff;
    left: 2.125rem;
}

.section.section-page-info  .breadcrumbs .sublinks a {
	padding: .25rem 0;
    line-height: 1.25rem;
    white-space: nowrap;
    color: #666;
	display: block;
}
	
.section.section-page-info .breadcrumbs nav > ul > li:not(:last-child)::after {
	content: "/";
    margin: 0 .625rem;
    position: relative;
    top: 1px;
    opacity: 1;
	color: #333;
	box-sizing: inherit;
}