.catalog-filters .widget {
	background-color: #f6f6f6;
}

.catalog-filters .widget:not(:last-child) {
	margin-bottom: 1.25rem;
}

.catalog-filters .widget.actions {
	border-top: 1px solid #d5d5d5;
	margin-top: -1.25rem;
}

.catalog-filters .widget.actions .button:last-child {
	margin-bottom: 0;
}

.catalog-filters .widget .filter:not(:last-child) {
	border-bottom: 1px solid #d5d5d5;
}

.catalog-filters .widget .filter > .content {
	padding: 1.25rem;
}

.catalog-filters .widget .filter .filter-name {
	font-size: 14px;
    line-height: 1.125rem;
    color: #000;
    font-weight: 700;
}

.catalog-filters .widget .filter.is-collapsed .filter-name > a::before {
	content: '';
	position: relative;
    top: -.125rem;
    display: inline-block;
    margin-top: .3125rem;
    margin-right: .6875rem;
    width: 9px;
    height: 9px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.catalog-filters .widget .filter.is-collapsed.open .filter-name > a::before {
	top: .1875rem;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.catalog-filters .widget .filter .filter-name a { color: inherit; display: block; }

.catalog-filters .widget .filter .inner {
	padding-top: .625rem;
	transition: .25s;
    overflow: hidden;
}

.catalog-filters .widget .filter.colors .inner {
	margin-left: -3px;
	margin-right: -3px;
}

.catalog-filters .widget .filter:not(.open) .inner {
	max-height: 0 !important;
	padding-top: 0;
}

.catalog-filters .widget .filter:not(.ready) .inner {
	max-height: initial !important;
}

.catalog-filters .catalog-main-menu > ul {
	position: relative;
	transition: .5s;
}

.catalog-filters .catalog-main-menu > ul > li {
	transition: .5s;
}

.catalog-filters .catalog-main-menu:not(:hover) > ul {
	box-shadow: none;
}

.catalog-filters .catalog-main-menu:not(:hover) > ul > li {
	border-left-color: transparent;
	border-right-color: transparent;
	background-color: #f6f6f6;
}

.catalog-filters .catalog-main-menu:not(:hover) > ul > li:last-child {
	border-bottom-color: transparent;
}

.catalog-filters .catalog-main-menu > ul > li > .submenu {
	border-top: .0625rem solid #ededed;
}

.catalog-filters.fixed {
	z-index: 10;
}

.catalog-filters.fixed > .content {
	position: fixed;
	top: 88.53px;
	max-width: 264px;
	width: 100%;
	max-height: calc(100vh - 88.53px);
    overflow-y: auto;
}

.catalog-filters.fixed > .content::-webkit-scrollbar {
	width: 5px;
}
.catalog-filters.fixed > .content::-webkit-scrollbar-track {
	background: #dedede96;
}
.catalog-filters.fixed > .content::-webkit-scrollbar-thumb {
	background: #b3b3b3;
	border-radius: 20px;
}
.catalog-filters.fixed > .content::-webkit-scrollbar-thumb:hover {
	background: #989898;
}

.toggle-filter {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--ui-color-primary);
	align-items: center;
	justify-content: center;
	display: flex;
	z-index: 10;
}

.toggle-filter svg {
	width: 35px;
	height: 35px;
	fill: #fff
}

@media screen and (min-width: 998px) {
	.toggle-filter {
		display: none;
	}
}