.tab-switcher {
	position: relative;
	z-index: 1;
}

.tab-switcher .tabs ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	background-color: #b6b6b6;
}

.tab-switcher .tabs ul > li {
	flex: 1;
    text-align: center;
}

.tab-switcher .tabs ul > li:not(:last-child) {
    border-right: .0625rem solid #f6f6f6;
}

.tab-switcher .tabs ul > li > a {
	display: block;
	font-weight: 700;
    border-top: .125rem solid transparent;
    color: #fff;
	padding: .90625rem 1rem;
    line-height: 1;
    font-size: .875rem;
}

.tab-switcher .tabs ul > li:hover > a {
	background: #d0d0d0;
}

.tab-switcher .tabs ul > li.current > a {
	border-color: #ff5a43;
	background-color: #fff;
    color: #000;
}

.tab-switcher .tabs ul > li > .tab-content,
.tab-switcher .tab-contents > .tab-content {
	background-color: #fff;
	padding: 2.1875rem 0;
	overflow: hidden;
}

.tab-switcher .tabs ul > li:not(.current) > .tab-content,
.tab-switcher.ready .tab-contents > .tab-content:not(.current) {
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

@media screen and (max-width: 997px) {
	.tab-switcher .tabs .tab-content {
		transition: .5s;
	}
	
	.tab-switcher .tabs ul > li > a {
		border-top: 0;
   		border-bottom: .125rem solid transparent;
	}
	
	.tab-switcher .tabs ul > li.current > a {
		border-bottom-color: #ff5a43;
	}

	.tab-switcher.ready > .tab-contents {
		display: none; 
	}
	
	.tab-switcher .tabs ul {
		flex-wrap: wrap;
	}
	
	.tab-switcher .tabs ul > li {
		flex: 0 0 100%;
		text-align: left;
	}
	
	.tab-switcher .tabs ul > li:not(:last-child) {
		border-right: 0;
		border-bottom: .0625rem solid #f6f6f6;
	}
}