.section.section-advantages .decription {
    display: block;
    margin-top: .9375rem;
    font-size: .9375rem;
    color: #000;
}

.section.section-advantages .icon {
	height: 5.75rem;
}

.section.section-advantages .icon.main-plus-delivery { width: 8.4375rem; }
.section.section-advantages .icon.main-plus-payment { width: 7.25rem; }
.section.section-advantages .icon.main-plus-discount { width: 6.8125rem; }
.section.section-advantages .icon.main-plus-return { width: 5.125rem; }

.section-advantages .grid {
	grid-column-gap: 30px;
	grid-template-columns: repeat(4, minmax(auto, 240px));
	justify-content: space-between;
}

@media screen and (max-width: 997px) {
	.section-advantages .grid {
		grid-template-columns: repeat(2, minmax(auto, 240px)) !important;
		justify-content: center;
		grid-column-gap: 60px;
		grid-row-gap: 45px;
	}
}

@media screen and (max-width: 517px) {
	.section-advantage .grid {
		grid-column-gap: 10px;
		grid-row-gap: 30px;
	}

    .section.section-advantages .icon {
		width: 100% !important;
    	height: 2.875rem !important;
	}
	
	.section.section-advantages .decription {
		font-size: .875rem;
	}
}
