.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	background-color: rgba(255,255,255,.8);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	opacity: 0;
	transition: .25s;
	z-index: -20;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal.open {
	opacity: 1;
	z-index: 20;
	transition: .25s;
}

.modal > .inner {
	position: relative;
	text-align: left;
	color: #666;
	background: #fff;
	box-shadow: 0 0 0.9375rem 0 rgba(5,5,5,.15);
	max-width: 100%;
	max-height: 100%;
}

.modal .inner a.close {
	position: absolute;
    top: -1.125rem;
    right: -1.125rem;
    z-index: 10;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    background-color: var(--ui-color-primary);
    outline: 0;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.modal .inner a.close:hover {
	background-color: var(--ui-color-primary-hover);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.modal .inner a.close svg {
	width: 1.75rem;
    height: 1.75rem;
    margin: .25rem;
    stroke: #fff;
    stroke-width: 2;
    -webkit-transition: stroke .1s;
    transition: stroke .1s;
}

.modal-content {
	display: none !important;
	visibility: hidden !important;
}

@media screen and (max-width: 517px) {
	
	.modal {
		padding: 1rem;
	}

}