.header {
	grid-area: header;
}

body.fixed-header .header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #fff;
	z-index: 10;
}

body.fixed-header .header > .content {
	max-width: var(--grid-container-width);
	margin-left: auto;
	margin-right: auto;
}

.header .col-catalog-menu {
	flex: 0 0 264px;
}

.header .col-store-data {
	flex: 1;
}

.header .col-search {
	flex: 10;
	padding: 0 50px;
}

.header .col-search form {
	display: block;
}

.header .col-search form input {
    padding-left: 32px;
    line-height: 20px;
    margin-bottom: 0;
    font-size: 13px;
    border: 2px solid var(--ui-color-primary);
    color: var(--ui-color-primary);
}

.header .col-search form button {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 6px 10px 14px;
}

.header .col-search form button .icon {
    vertical-align: top;
	width: 14px;
    height: 20px;
    color: var(--ui-color-primary);
}

.header {
	padding: 1.5rem 0;
}

.header .col-cart {
	flex: 1;
	padding: 0 0 0 2.0625rem;
}

.header .col-cart .col-icon {
	width: 2.125rem;
	flex: 0;
	margin-right: .625rem;
}

.header .col-cart .col-content {
	flex: 1;
}

.header .col-callback .col-numbers a:first-child,
.header .col-cart .col-content label {
    display: block;
    line-height: 1.125rem;
    font-size: 1rem;
	color: #000;
	cursor: pointer;
}

.header .col-cart .col-content .desc {
	display: block;
	line-height: 1.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

.header .col-cart .col-icon svg {
	width: 2.125rem;
    height: 1.75rem;
    margin-right: .625rem;
}

.header .col-callback .icon {
	width: 21px;
    height: 35px;
    margin-right: 8px;
}

.header .col-callback .col-numbers a:not([href="#toggle-callback-modal"]) {
	display: block;
	color: #000;
}

.header .col-callback a[href="#toggle-callback-modal"] {
	display: block;
}

.header .col-callback .col-numbers {
	flex-basis: 110px;
}

.header {
	font-size: 14px;
}

.header .col-callback > .content {
	justify-content: flex-end;
}

.header .col-callback .col-numbers {
	flex-basis: auto;
}

.header .col-callback .col-numbers a {
	font-size: 13px;
}

.header .col-callback .col-icon svg {
    width: 1.3125rem;
    height: 2rem;
    margin-right: .5rem;
}

.header .col-callback .col-icon {
	height: 2rem;
}

@media screen and (max-width: 1237px) {
	.header .col-primary-menu ul li {
		margin: 0;
	}

	.header .col-search {
		flex: 1;	
	}
	.header .col-store-data {
		flex: 2;
	}
}

@media screen and (max-width: 997px) {
	.header,
	.header .col-primary-menu,
	.header .col-user {
		display: none;
	}

	.header {
		padding: .5rem .625rem;
	}
	
	.header > .content > .col {
		flex: 1;
	}
	
	.header .col-location {
		padding-left: 0;
	}
	
	.header::before,
	.header::after {
		display: none !important;
	}
	
	.header {
		border-top: .0625rem solid #d5d5d5;
	}
}