.input-counter:not(.reset) {
	position: relative;
	overflow: hidden;
	margin-left: auto;
	width: 35px;
	height: 35px;
	transition: width .25s;
}

.counter-active .input-counter,
.input-counter.open {
	width: 100%;
	transition: width .25s;
}

.input-counter > a {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0;
    border-radius: 100%;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
    background-color: #fff;
	transition: left .5s;
	outline: none;
	z-index: 2;
}

.input-counter > a > svg {
	color: #fff;
	width: 35px;
	height: 35px;
	fill: var(--ui-color-secondary);
}

.counter-active .input-counter > a,
.input-counter.open > a {
	background-color: var(--ui-color-secondary);
    color: var(--ui-color-secondary);
}

.counter-active .input-counter > a > svg,
.input-counter.open > a > svg {
	fill: #fff;
}

.input-counter > a.decrement { left: 0; }
.input-counter > a.increment { right: 0; }

.input-counter input {
	padding: 0 30px;
	width: 100%;
	text-align: center;
    font-size: 18px;
    color: #000;
	border-radius: 0;
	outline: none;
	margin: 0;
	opacity: 0;
	transition: opacity .1s;
	pointer-events: none;
	-moz-appearance:textfield
}

.counter-active .input-counter input,
.input-counter.open input {
	opacity: 1;
	transition: opacity .75s;
}

.input-counter input::-webkit-outer-spin-button,
.input-counter input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}