.modal.modal-quick-view > .inner {
	max-width: 941px;
	width: 100%;
}

.section.section-product .col-price .price:not(.original) {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: #000;
}