.col.col-filter {
	flex-basis: 264px !important;
}

.col.col-catalog {
    flex: 1 !important;
}

.section.section-top-categories.has-filter,
.section.section-catalog.has-filter {
	padding-left: 1.25rem;
}

.section.section-top-categories.has-filter .grid,
.section.section-catalog.has-filter .products {
	grid-template-columns: repeat(4, 25%);
}

.section.section-catalog .products.view-list {
	grid-template-columns: repeat(1, 100%) !important;
}

.section.section-catalog .products .box.time-buy,
.section.section-catalog .products .box.best-day {
    grid-column-end: span 1 !important;
    grid-row-end: span 1 !important;
}

body.catalog-no-groups .section-top-categories {
	display: none;
}

body.catalog-no-groups .section-catalog {
	padding-top: 0;
}

.section.section-catalog.grouped .section-heading {  
	margin-bottom: .9375rem;
	font-size: 1.125rem;
}

.section.section-catalog .catalog-seo-text {
	margin-top: 2.5rem;
	padding-top: 1.875rem;
	font-size: .875rem;
    line-height: 1.5rem;
}

.section.section-catalog .actions-bar {
	margin-bottom: 1.25rem;
}

.section.section-catalog .actions-bar .col-sorting {
	flex: 1;
}

.section.section-catalog .actions-bar .col-sorting .caption {
	display: inline-block;
    vertical-align: middle;
    font-size: .8125rem;
	color: #000;
}

.section.section-catalog .actions-bar .mobile-filter-button {
    padding: .8125rem;
	min-width: 10rem;
    font-size: .75rem;
    letter-spacing: .0625rem;
	margin-bottom: 0;
	margin-right: 1rem;
	display: none;
}

.section.section-catalog .actions-bar .col-sorting select {
    border: 2px solid #b6b6b6;
	padding: 0 2.8125rem 0 .625rem;
    border-radius: .25rem;
	height: 35px;
	margin-left: 5px;
}

.section.section-catalog .actions-bar select {
	width: max-content; 
}

.section.section-catalog .actions-bar .col-views > .views-list > a {
	width: 37px;
    height: 37px;
    background: #f6f6f6;
    border: 2px solid #b6b6b6;
    border-right: 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    -webkit-transition: .25s;
    transition: .25s;
}

.section.section-catalog .actions-bar .col-views > .views-list > a:hover,
.section.section-catalog .actions-bar .col-views > .views-list > a.current {
	background-color: #b6b6b6;
}

.section.section-catalog .actions-bar .col-views > .views-list > a:hover > svg,
.section.section-catalog .actions-bar .col-views > .views-list > a.current > svg {
	fill: #fff;
}

.section.section-catalog .actions-bar .col-views > .views-list > a:first-child {
	border-radius: 4px 0 0 4px;	
}

.section.section-catalog .actions-bar .col-views > .views-list > a:last-child {
	border-radius: 0 4px 4px 0;
    border: 2px solid #b6b6b6;
}

.section.section-catalog .actions-bar .col-views > .views-list svg {
	margin: .5625rem;
    width: 15px;
    height: 15px;
    fill: #b6b6b6;
}


/* PRODUCT PAGE */

.section.section-product .grid {
	grid-template-columns: repeat(2, 1fr);
	background-color: #fff;
}

.modal .section.section-product .grid {
	grid-template-columns: 2fr 3fr;
}

.section.section-product .grid .gallery-box {
	grid-row: span 3;
}

.section.section-product .content .box {
	padding: 1.875rem;
}

.section.section-product .content .gallery-box {
	position: relative;
	border-right: .0625rem solid #e9e9e9;
}

.section.section-product .content .box:not(.gallery-box) {
	border-bottom: .0625rem solid #e9e9e9;
}

.section.section-product .content .box:last-child {
	border-bottom: 0;
}

.section.section-product .content .gallery-box .thumbnail {
	height: 26.875rem;
	margin-bottom: .9375rem;
}

.section.section-product .content .gallery-box .zoom {
	text-align: center;
}

.section.section-product .content .gallery-box .zoom a {
	font-size: .75rem;
    line-height: 1.125rem;
}

.section.section-product .content .gallery-box .zoom a svg {
	margin-right: .3125rem;
    width: .8125rem;
    height: .875rem;
    vertical-align: text-bottom;
    fill: var(--ui-color-primary);
}

.section.section-product .content .gallery-box .gallery {
	margin: .9375rem auto 0;
	justify-content: center;
	margin-left: -.25rem;
	margin-right: -.25rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.section.section-product .content .gallery-box .gallery > a {
	flex-basis: 65px;
	height: 65px;
	margin: 0 .25rem .25rem;
	border: .125rem solid #b6b6b6;
}

.section.section-product .content .gallery-box .gallery > a.current {
	border-color: #ff5a43;
}

.section.section-product .section-heading {
	margin-bottom: .9375rem;
}

.section.section-product .info-box .brand {
	float: right;
}

.section.section-product .info-box .code {
	display: block;
	margin: -.9375rem 0 .3125rem;
	font-size: .6875rem;
    color: #999;
}


.section.section-product .box:not(.gallery-box) .flex {
	margin-bottom: 1rem;
}

.section.section-product .box:not(.gallery-box) .flex > .col {
	flex: 0 0 calc(100% / 3);
}

.section.section-product .info-box .flex .caption {
	line-height: 1.25rem;
    color: #000;
	margin-bottom: .3125rem;
	display: block;
}

.section.section-product .additional-box .timer,
.section.section-product .additional-box .economizer {
	margin-bottom: 15px;
}

.section.section-product .additional-box .social-block {
	padding: 1.875rem 0;
	
}

.section.section-product .additional-box .social-block svg {
	width: 2.125rem;
    height: 2.125rem;
    padding: .4375rem .4375rem .5rem;
    vertical-align: middle;
    overflow: visible;
    border: .125rem solid #b6b6b6;
    border-radius: 1.0625rem;
	fill: #b6b6b6;
}

.section.section-product .additional-box .social-block a:hover svg {
	fill: #fff;
	background-color: #b6b6b6;
}

.section.section-product-additional .tab-switcher {
	margin-top: -44px;
}

.section.section-product-additional .tab-switcher .tab-description p {
	line-height: 1.375rem;
    margin-bottom: 1.25rem;
}

.section.section-product-additional .tab-switcher .tab-characteristic table {
	width: 100%;
}

.section.section-product-additional .tab-switcher .tab-characteristic table td {
    padding: 1rem 1.25rem;
    color: #333;
}

.section.section-product-additional .tab-switcher .tab-characteristic table td:not(:last-child) {
    border-right: .0625rem solid #d0d0d0;
}

.section.section-product-additional .tab-switcher .tab-characteristic table tr:nth-child(odd) {
	background-color: #f6f6f6;
}

.section.section-product-additional .tab-switcher .tab-reviews > .button {
	margin-bottom: 0;
}

.section.section-product-additional .tab-switcher .tab-stock .flex {
	line-height: 1.25rem;
    border-bottom: .0625rem dotted #d0d0d0;
}

.section.section-product-additional .tab-switcher .tab-stock a.tel {
	padding-left: .9375rem;
	color: #000;
}

.section.section-product-additional .tab-switcher .tab-stock .flex:not(:first-child) {
	padding-top: 1.5rem;
}

.section.section-product-additional .tab-switcher .tab-stock .flex .col:nth-child(1) {
	flex: 3;	
}

.section.section-product-additional .tab-switcher .tab-stock .flex .col:nth-child(2) {
	flex: 1;
	text-align: right;
}

.section.section-product-additional .tab-switcher .tab-stock .flex .col:nth-child(2) .stock-rating {
	float: right;
	margin-right: 50px;
}

@media screen and (min-width: 998px) {
	.catalog-filters .topbar {
		display: none;
	}
}

@media screen and (max-width: 1237px) {
	.categories.has-filter .grid {
		grid-template-columns: repeat(3, calc(100% / 3));
	}
}

@media screen and (max-width: 997px) {
	.col.col-filter,
	.col.col-catalog {
		flex: 0 0 100% !important;
	}

	.catalog-filters {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		max-height: 100vh;
		z-index: -1;
		opacity: 0;
		transition: opacity .25s, left .5s;
		max-height: 100vh;
		overflow-y: auto;
		background: #fff;
	}

	.catalog-filters .topbar {
		padding: 1.25rem;
	}


	.catalog-filters .topbar .col-close {
		flex-basis: 80px;
	}

	.catalog-filters .topbar .col-caption {
		flex: 1;
	}

	.catalog-filters .topbar .col-close a {
		display: block;
		width: 20px;
		height: 20px;
	}

	.catalog-filters .topbar .col-reset a {
		text-transform: uppercase;
		font-size: 18px;
		color: #777;
	}

	.catalog-filters .topbar .col-close a svg {
		width: 100%;
		height: 100%;
		fill: var(--ui-color-primary)
	}

	.catalog-filters .topbar .caption  {
		font-size: 25px;
	}

	.catalog-filter-open .page {
		z-index: 10;
	}

	.catalog-filter-open .catalog-filters {
		opacity: 1;
		z-index: 11;
		left: 0;
	}

	.catalog-filters .widget .filter .inner {
		display: flex;
		flex-wrap: wrap;
	}

	.catalog-filters .widget .filter .inner > .choose {
		flex: 0 0 calc(100% / 3);
	}

	.catalog-filters .widget.actions .filter > .content {
		padding: 0;
	}

	.catalog-filters .widget .content .button {
		margin: 0;
		border-radius: 0;
	}

	.catalog-filters .widget .content .button.secondary { display: none; }

	.section.section-top-categories.has-filter, 
	.section.section-catalog.has-filter {
		padding-left: 0;
	}

}

@media screen and (max-width: 517px) {

	.catalog-filters .topbar .col-close {
		flex-basis: auto;
	}

	.catalog-filters .topbar .caption {
		text-align: center;
	}

	.catalog-filters .topbar .col-reset a {
		font-size: 14px;
	}

	.catalog-filters .widget .filter .inner > .choose {
		flex: 0 0 50%;
	}

}