.section.section-brands .carousel .item {
	padding: 0 10px;
}
	
.section.section-brands .carousel .slick-track {
	-ms-align-items: center;
	align-items: center;
}

.section.section-brands .carousel .slick-arrow {
	margin-top: -32px;
}

.section.section-brands .carousel .slick-arrow.slick-prev {
	margin-left: -23px;
}

.section.section-brands .carousel .slick-arrow.slick-next {
	margin-right: -14px;
}

.section.section-brands .carousel .slick-dots {
	position: absolute;
	margin-top: 1.5625rem;
	list-style: none;
	padding: 0;
	width: 100%;
	display: none;
}

.section.section-brands .carousel .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}

.section.section-brands .carousel .slick-dots li button {
	background-color: #b6b6b6;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	width: 12px;
	height: 16px;
	border-radius: 50%;
	color: #fff0;
}

.section.section-brands .carousel .slick-dots li.slick-active button {
	background-color: #fff;
	border-color: var(--ui-color-secondary);
}

@media screen and (min-width: 998px) {
    .section.section-brands .carousel .slick-dots {
		display: none !important;
	}
}

@media screen and (max-width: 757px) {
    .section.section-brands {
		padding-top: 0;
	}
}

@media screen and (max-width: 517px) {
    .section.section-brands {
		display: none;
	}
}