.input-range {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}

.input-range > div {
	flex: 1;
}


.input-range .min-block { padding-right: 4px; margin:.625rem 0; }
.input-range .max-block { padding-left: 4px; margin: .625rem 0; }

.input-range label {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	height: 31px;
}

.input-range label input[type="number"] {
	padding: 5.5px 8px;
    color: #000;
    border-radius: 0 4px 4px 0;
	line-height: 1rem;
    border: .125rem solid #d4d6d9;
	height: 100%;
	outline: none;
	-moz-appearance:textfield
}

.input-range label input::-webkit-outer-spin-button,
.input-range label input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.input-range label span {
	display: block;
    max-width: 1.875rem;
    border-radius: 4px 0 0 4px;
    padding: 5px 7px;
    font-size: 13px;
    color: #666;
    background: #f2f3f5;
	line-height: 1rem;
    border: .125rem solid #d4d6d9;
    border-right: none;
	height: 100%;
}

.input-range > .range-block {
	flex: 0 0 100%;
}

.irs--flat {
	height: 22px;
}

.irs--flat .irs-from, 
.irs--flat .irs-to, 
.irs--flat .irs-single,
.irs--flat .irs-min, 
.irs--flat .irs-max,
.irs--flat .irs-handle > i:first-child {
	display: none;
}

.irs--flat .irs-handle.to {
	margin-left: 8px;
}

.irs--flat .irs-handle.from {
	margin-left: -8px;
}

.irs--flat .irs-line,
.irs--flat .irs-bar {
	top: 10px;
	height: 7px;
	cursor: pointer;
}

.irs--flat .irs-bar {
    background-color: var(--ui-color-primary);
}

.irs--flat .irs-handle {
	top: 3px;
    width: 21px;
    height: 21px;
    background-color: var(--ui-color-secondary);
    border-radius: 50%;
	border: .125rem solid #f6f6f6;
    outline: 0;
	cursor: pointer;
}

/*
.input-range:not(.is-drag) .irs--flat .irs-bar,
.input-range:not(.is-drag) .irs--flat .irs-handle {
	-webkit-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}
*/

.irs--flat .irs-handle::after {
	content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
}

.irs--flat .irs-handle > i:first-child { margin-left: 2px; }
.irs--flat .irs-handle > i:first-child { margin-left: -2px; }