.section.section-instagram .carousel .item {
	position: relative;
	height: 17.6875rem;
	overflow: hidden;
}

.section.section-instagram .carousel .item > a {
	display: block;
}

.section.section-instagram .carousel .item .thumbnail {
	z-index: 1;
}

.section.section-instagram .carousel .item .description {
	position: absolute;
	opacity: 0;
	z-index: -1;
	top: 0;
    background-color: rgba(0,0,0,.6);
	font-size: .8125rem;
	height: 100%;
	overflow: hidden;
	padding: 1.25rem 1.5rem;
	line-height: 1.5;
	color: #fff;
    -webkit-transition: .25s;
	transition: .25s;
	pointer-events: none;
}

.section.section-instagram .carousel .item .description > div {
	max-height: 100%;
	overflow: hidden;
}

.section.section-instagram .carousel .item:hover .description {
	opacity: 1;
	z-index: 2;
	-webkit-transition: .25s;
    transition: .25s;
}

.section.section-instagram .carousel .slick-arrow {
	border-color: #666;
	border-width: .0625rem;
	margin-top: -22px;
}
.section.section-instagram .carousel .slick-arrow.slick-next {
	right: -25px;
}

.section.section-instagram .carousel .slick-arrow.slick-prev {
	left: -70px;
}

@media screen and (max-width: 757px) {
    .section.section-instagram .carousel {
		width: 17.6875rem;
		margin: auto;
	}
	
	.section.section-instagram .carousel .slick-slide {
		padding: 0;
	}
}