.economizer {
    background-color: #f6f6f6;
	border-radius: .375rem;
	overflow: hidden;
	height: 42px;
	text-align: center;
	width: max-content;
}

.economizer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0;
	padding: 0;
}

.economizer .n {
	border-top: .0625rem solid #d0d0d0;
	border-bottom: .0625rem solid #d0d0d0;
}

.economizer > div {
	flex: 1;
}

.economizer > div span {
	display: block;
    margin-bottom: -.625rem;
    font-size: 1rem;
    line-height: 1.625rem;
    white-space: nowrap;
	color: #000;
	font-weight: bold;
}

.economizer .g {
    padding: 0 .8125rem;
    line-height: 1.5rem;
    border: .0625rem solid #d0d0d0;
    border-radius: 0 .375rem .375rem 0;
    background-color: #fff;
}

.economizer .i {
	position: relative;
	background-color: var(--ui-color-secondary);
	padding: 0 1rem;
	flex-basis: 1.875rem;
	flex-grow: 0;
}

.economizer .i span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 1.25rem;
	color: #fff;
	font-weight: normal;
}

.economizer .n {
	padding: 0 .8125rem;
}

.economizer .n .price {
	margin-bottom: 2px;
}

.economizer .n .currency {
	display: inline;
}

.economizer .g .p {
	position: relative;
	margin-top: .625rem;
    height: .375rem;
    border-radius: .1875rem;
    background-color: #b6b6b6;
	overflow: hidden;
}

.economizer .g .p > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
    border-radius: .1875rem;
    background-color: #b6b6b6;
}

.economizer.active .g .p > div {
	background-color: var(--ui-color-secondary);
}