footer.full-border-top::before {
	border-top: 1px solid #e9e9e9;
}

footer .top-footer {
	padding: 1.875rem 0;
}

footer .top-footer .col {
	flex: 1;
}

footer .top-footer .col .heading {
	margin-bottom: .3125rem;
    font-size: .9375rem;
    line-height: 1.25rem;
    color: #000;
}

footer .top-footer .col-social a {
	display: inline-block;
    margin-right: .4375rem;
    font-size: 0;
    line-height: 0;
}

footer .top-footer .col-social a svg {
    width: 2.125rem;
    height: 2.125rem;
    padding: .4375rem .4375rem .5rem;
    vertical-align: middle;
    overflow: visible;
    border: .125rem solid var(--ui-color-primary);
    border-radius: 1.0625rem;
    fill: var(--ui-color-primary);
}

footer .top-footer .col-social a svg:hover {
	background-color: var(--ui-color-primary);
    fill: #ffffff;
}

footer .top-footer .col-payment .content {
	width: max-content;
	margin-left: auto;
}

footer .top-footer .col-payment ul li:not(:first-child) {
	margin-left: 1.25rem;
}

footer .top-footer .col-payment img {
	height: 26px;
}

@media screen and (max-width: 997px) {
    footer > div {
		max-width: 721px;
		margin-left: auto;
		margin-right: auto;
    }
    
    footer .top-footer .col-payment {
        display: none;
    }
}

@media screen and (max-width: 757px) {
    .footer > div {
        max-width: 502px;
    }

    footer .top-footer .col-social {
		display: none;
	}
	
	footer .top-footer .col-subscribe > .content {
		margin: 0 auto;
		max-width: 21.875rem;
	}
}

@media screen and (max-width: 517px) {
    .footer > div {
		padding-left: .625rem;
		padding-right: .625rem;
	}
}