.top-header {
	padding: 20px 0;
    grid-area: top-header;
}

.top-header .col-logo .toggle-mobile-menu svg {
	width: 1rem;
    height: 1.375rem;
    margin-right: 1rem;
    vertical-align: middle;
	fill: #000;
}

.top-header .col-logo .icon {
	max-width: 100%;
	width: 264px;
	height: 26px;
	vertical-align: middle;
	color: var(--ui-color-secondary);
}

.top-header .fixed-block {
	position: fixed;
	top: 50%;
	right: -1px;
	transform: translateY(-50%);
	z-index: 10;
	display: none;
}

.top-header .fixed-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top-header .fixed-block ul li {
	position: relative;
	left: calc(100% - 55px);
	margin-top: .1875rem;
    border: .0625rem solid #e9e9e9;
    background-color: #fff;
    -webkit-transition: .25s;
    transition: .25s;
	width: max-content;
}

.top-header .fixed-block ul li:hover {
	left: 0;
	-webkit-transition: .25s;
    transition: .25s;
}

.top-header .fixed-block ul li a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: .25rem .5625rem;
}

.top-header .fixed-block ul li .col-icon svg {
	width: 1.875rem;
    height: 1.625rem;
    margin: .3125rem .9375rem .3125rem 0;
}

.top-header .fixed-block ul li .col-icon .count {
	position: absolute;
	box-sizing: content-box;
	overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background-color: #b6b6b6;
    border-radius: .625rem;
	max-width: 1.0625rem;
    vertical-align: bottom;
	top: 0;
	right: .3125rem;
    padding: 0 .375rem;
    font-size: .6875rem;
    line-height: 1.125rem;
}

.top-header .fixed-block ul li .col-content > label,
.top-header .fixed-block ul li .col-content > span {
	display: block;
}

.top-header .fixed-block ul li .col-content > label {
	color: #000;
    line-height: 1.125rem;
    font-size: 1rem;
}

.top-header .fixed-block ul li .col-content > .desc {
	width: 9.6875rem;
    line-height: 1.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

.top-header .fixed-block ul li {
	margin-right: .3125rem;
}

.top-header .fixed-block ul li.search {
	display: none;
}

.top-header .fixed-block ul li.search svg {
	width: 1.75rem;
    height: 2.25rem;
}

.top-header .store-icons {
	list-style: none;
	padding: 0;
	margin: 0;
}

.top-header .store-icons > li {
	width: 40px;
	margin-right: .625rem;
}

.top-header .store-icons .icon {
	width: 1.125rem;
    height: 1.125rem;
}

.top-header .store-icons .count {
	position: absolute;
	box-sizing: content-box;
	overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    background-color: #b6b6b6;
    border-radius: .625rem;
	max-width: 1.0625rem;
    vertical-align: bottom;
	top: -10px;
	right: -7px;
    padding: 0 .375rem;
    font-size: .6875rem;
    line-height: 1.125rem;
}

.top-header .col-callback .col-numbers {
	flex-basis: 110px;
}

.top-header .col-location {
	padding-left: 50px;
    padding-right: 50px;
}

.top-header .col-location .icon { 
	width: 1.125rem;
    height: 1.375rem;
    margin-right: .1875rem;
    stroke: var(--ui-color-secondary);
	vertical-align: top;
}

.top-header .col-location a::after {
	content: "";
	display: inline-block;
	width: .375rem;
	height: .375rem;
	margin-top: -.1875rem;
	margin-left: .1875rem;
	vertical-align: middle;
	border-left: .0625rem solid var(--ui-color-primary);
	border-bottom: .0625rem solid var(--ui-color-primary);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.top-header .col-primary-menu {
	flex: 3;	
}

.top-header .col-primary-menu nav {
	padding-left: 30px;
}

.top-header .col-primary-menu ul li {
	margin: 0 .5625rem;
}

.top-header .col-primary-menu ul li a {
	display: block;
	padding: .7rem 1rem;
	color: #000;
}

.top-header .col-primary-menu ul li.current a,
.top-header .col-primary-menu ul li a:hover {
    color: var(--ui-color-primary);
    background: inherit;
}

.top-header .col-user .icon {
	width: 1rem;
    height: 1.1875rem;
	margin-right: 5px;
	vertical-align: top;
}

@media screen and (min-width: 998px) {
	.top-header .col-logo .toggle-mobile-menu,
	.top-header .store-icons li.search,
	.top-header .store-icons li.cart {
		display: none;
	}

}

@media screen and (max-width: 1237px) {
	.top-header .col-location {
		padding-left: 30px;
    	padding-right: 10px;
	}
	
	.top-header .col-primary-menu ul li a {
		padding: .7rem .5rem;
	}
}

@media screen and (max-width: 997px) {
	.top-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 10;
		box-shadow: 0 0 15px 0 rgba(5,5,5,.15);
	}
	
	.top-header .col-logo .icon {
		width: 220px;
		height: 21px;
	}
	
	.top-header .col-user {
		flex: 1;
	}
	
	.top-header .col-user .icon {
		width: 1.75rem;
		height: 2.25rem;
		margin-right: .625rem;
	}
	
	.top-header .store-icons .count {
		top: 0;
		right: 0;
	}
	
	.top-header {
		padding: .75rem .625rem;
	}
	
	.top-header .col-search {
		padding-right: 0;
	}
	
	.top-header .col-search .fixed-block {
		transform: none;
		position: static;
	}
	
	.top-header .col-search .fixed-block ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
	}
	
	.top-header .col-search .fixed-block ul li {
		position: static;
		border: none;
	}
	
	.top-header .col-search .fixed-block ul li.search {
		display: inline-block;
	}
	
	.top-header .col-search .fixed-block ul li.cart {
		order: 3;
	}
	
	.top-header .col-search .fixed-block ul li.laked {
		order: 2;
	}
	
	.top-header .store-icons li.compare {
		display: none;
	}

	.top-header .col-location,
	.top-header .col-primary-menu,
	.top-header .col-auth,
	.top-header .col-search .fixed-block ul li.compare,
	.top-header .col-search .fixed-block ul li .col-content,
	.top-header .col-search > form,
	.top-header .col-callback {
		display: none;
	}
}

@media screen and (max-width: 757px) {
	.top-header .col-search .fixed-block ul li a,
	.top-header .col-search .fixed-block ul li a .col-icon {
		display: block;
	}
	
	.top-header .col-search .fixed-block ul li a {
		padding: .25rem .3rem;
	}
	
	.top-header .col-search .fixed-block ul li .col-icon svg {
		width: 1.25rem;
		height: 1.0625rem;
		margin: .25rem .375rem .25rem 0;
	}
	
	.top-header .col-search .fixed-block ul li .col-icon .count {
		top: 0;
		right: -.25rem;
		padding: 0 .375rem;
		font-size: .6875rem;
		line-height: 1.125rem;
	}
	
	.top-header .col-search .fixed-block ul li.search svg {
		width: 1.25rem;
		height: 1.5625rem;
		margin-right: 0;
	}
	.top-header .col-user .icon {
		width: 1.25rem;
		height: 1.5625rem;
		margin-right: 0;
	}
	
	.top-header .store-icons > li {
		margin-right: 0;
	}
	
	.top-header .store-icons .count {
		top: -2px;
		right: -10px;
	}
	
}

@media screen and (max-width: 517px) {
	.top-header .col-logo .icon {
		width: 120px;
		height: 26px;
	}
}