.section-banner .banner {
    height: 320px;
}

.section-banner .banner > span {
    display: block;
    height: 100%;
}

.section-banner .banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-banner .banner img {
	width: 100%;
}