.modal-login {
	align-items: flex-start !important;
	padding-top: 4rem !important;
}

.modal-login > .inner {
	width: auto;
}

.modal-login .col-banner {
	width: 380px;
	height: 312px;
	overflow: hidden;
}

.modal-login .col-banner img {
	width: 100%;
}

.modal-login input {
	margin-bottom: 5px;
}

.modal-login .col-form {
	padding: 20px 84px;
	width: 530px;
}

.modal-login .col-form input {
	outline: none;
	border-bottom: 1px solid #e3e4e6;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}

.modal-login .invalid span.text {
	color: var(--ui-field-color-danger);
}

.modal-login .invalid input {
	border-bottom-color: var(--ui-field-color-danger);
}

.modal-login .code,
.modal-login .col-form .privacy-policy {
	margin-top: 40px;
}

.modal-login .col-form .privacy-policy > a {
	display: block;
}

.modal-login .col-code {
	padding-right: 3rem;
}

.modal-login .errors .error {
	display: block;
	color: var(--ui-field-color-danger);
}

.modal-login .hint {
	margin-top: 10px;
}

@media screen and (max-width: 997px) {
	
	.modal-login.modal .inner {
		width: 100%;
		max-width: 600px;
	}

	.modal-login .col-banner {
		display: none;
	}

	.modal-login .col-form {
		flex: 1 !important;
		width: 100%;
		padding: 50px 20px;
	}

}

@media screen and (max-width: 517px) {


}