@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('./alsrubl-arial/alsrubl-arial-regular.eot');
  src: url('./alsrubl-arial/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),url('./alsrubl-arial/alsrubl-arial-regular.woff') format('woff'), url('./alsrubl-arial/alsrubl-arial-regular.ttf') format('truetype'), url('./alsrubl-arial/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('./alsrubl-arial/alsrubl-arial-italic.eot');
  src: url('./alsrubl-arial/alsrubl-arial-italic.eot?#iefix') format('embedded-opentype'), url('./alsrubl-arial/alsrubl-arial-italic.woff') format('woff'), url('./alsrubl-arial/alsrubl-arial-italic.ttf') format('truetype'), url('./alsrubl-arial/alsrubl-arial-italic.svg#ALSRublArialItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('./alsrubl-arial/alsrubl-arial-bold.eot');
  src: url('./alsrubl-arial/alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), url('./alsrubl-arial/alsrubl-arial-bold.woff') format('woff'), url('./alsrubl-arial/alsrubl-arial-bold.ttf') format('truetype'), url('./alsrubl-arial/alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('./alsrubl-arial/alsrubl-arial-bolditalic.eot');
  src: url('./alsrubl-arial/alsrubl-arial-bolditalic.eot?#iefix') format('embedded-opentype'), url('./alsrubl-arial/alsrubl-arial-bolditalic.woff') format('woff'), url('./alsrubl-arial/alsrubl-arial-bolditalic.ttf') format('truetype'), url('./alsrubl-arial/alsrubl-arial-bolditalic.svg#ALSRublArialBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}